﻿@using Sitecore.XA.Foundation.Mvc
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Configuration
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Repositories
@using Sitecore.Globalization
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils
@using Sitecore.Baptist.Foundation.Common.Utils

@model Tuple<string, List<Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationWithDistanceSearch>,string, bool>

@{ 
	string filtername = SchedulingUtils.getButtonText(Model.Item1);
}

@if(Model.Item2.Any() && Model.Item2.Where(p => p.location.SchedulingCode.HasValue()).Any() && Model.Item4 == false )
{
	<text>
		<div class="filter-bar">
			<label for="schedule-filter-@Model.Item1">
				<span>@filtername Locations</span>
				<input id="schedule-filter-@Model.Item1" data-schedule-filter-context="@Model.Item1" data-tab-context="@Model.Item3" type="checkbox" name="schedule-filter" />
			</label>
		</div>
	</text>
}