﻿@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@model Tuple<string, LocationWithDistanceSearch>
@if(!string.IsNullOrEmpty(Model.Item2.location.SchedulingCode))
{
	<text>
		<div class="omw-hmp-list-button">
			<a href="@SchedulingUtils.getSchedulingUrl(Request.Url.Host, Model.Item2.location.SchedulingCode)" target="_blank"><i class="fa fa-car"></i>@SchedulingUtils.getButtonText(Model.Item1, Model.Item2.location.SchedulingLabel)</a>
		</div>
	</text>
}
