﻿@using Sitecore.Globalization;
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils
@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationWithDistanceSearch

<div class="header-location-info" id="header-er-wait">
	<div class="component rich-text col-xs-12">
		<div class="component-content">
			<p>
				<strong>@Model.location.LocationName</strong> (<a href="" id="location-change" data-toggle="modal" data-target=".change-location-header-modal-lg">change</a>)
			</p>
			<p><img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/clock-icon-white.svg" width="15" height="15" class="inline-icon icon-small" aria-hidden="true" /> @(Translate.Text("ER Wait Time")): @Model.er_wait.CV_ED_Wait Minutes</p>
			@if(Model.location.SchedulingCode.HasValue())
			{
				<text>
					<i class="fa fa-car"></i>&nbsp;&nbsp;<a href="@SchedulingUtils.getSchedulingUrl(Sitecore.Context.Site.TargetHostName, @Model.location.SchedulingCode)" target="_blank">@Translate.Text("On My Way")</a>
				</text>
			}
		</div>
	</div>
</div