﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.XA.Foundation.Theming.Bundler
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils;
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models;
@model List<Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationWithDistanceSearch>

@try
{

	LocationUtils utils = new LocationUtils();
	utils.req = Request;

	LocationWithDistanceSearch def = utils.getDefaultLocationSearch(Model);

	if(def == null && Model.Count > 0)
	{
		def = Model.First();
	}

	if(def != null)
	{

	<div class="header-location-info hidden" id="header-er-wait">
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<p>
					<strong>@def.location.LocationName</strong> (<a href="" data-change-location id="change-location-change">change</a>)
				</p>
				<p><img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/clock-icon-white.svg" width="15" height="15" class="inline-icon icon-small" aria-hidden="true" alt="" /> ER Wait Time: @def.er_wait.CV_ED_Wait Minutes </p>
				@if(def.location.SchedulingCode.HasValue())
				{	
					<text>
						<i class="fa fa-car"></i>&nbsp;&nbsp;<a href="@SchedulingUtils.getSchedulingUrl(Sitecore.Context.Site.TargetHostName, def.location.SchedulingCode)" target="_blank">@Translate.Text("On My Way")</a>
					</text>
				}
			</div>
		</div>
	</div>

	<style>
		body.modal-open {
			overflow-y: scroll !important;
			overflow-x: hidden !important;
			padding-right: 0 !important;
		}

		div.option-list {
			display: none;
		}

			div.option-list.active {
				display: inline-block;
				transition: 1s;
			}

			div.option-list ul {
				list-style-type: none;
				padding-left: 0;
				padding: 1rem;
			}

				div.option-list ul li {
					border-bottom: solid 1px #999;
					font-size: 1rem;
					padding: 1rem;
				}

			div.option-list div.modal-dialog ul.modal-content div.modal-header > strong {
				font-size: 1.25rem;
			}

			div.option-list div.modal-dialog ul.modal-content div.modal-body strong.er-wait {
				font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
				font-size: .85rem;
				line-height: 1.25rem;
				font-weight: 400;
			}

			div.option-list div.modal-dialog ul.modal-content li.row div.address-column {
				line-height: 1.5rem;
			}

			div.option-list div.modal-dialog ul.modal-content li.row div.action {
				text-align: center;
				display: -ms-flexbox;
				display: -webkit-flex;
				display: flex;
				-ms-flex-align: center;
				-webkit-align-items: center;
				-webkit-box-align: center;
			}

				div.option-list div.modal-dialog ul.modal-content li.row div.action b {
					text-align: center;
					width: 100%;
					padding: 4vh;
				}

					div.option-list div.modal-dialog ul.modal-content li.row div.action b a#forget-chosen {
						font-size: .9rem;
						font-weight: normal;
						cursor: pointer;
					}

			div.option-list div.modal-dialog ul.modal-content {
				border-radius: 0;
			}

				div.option-list div.modal-dialog ul.modal-content div.modal-body {
					display: -ms-flexbox;
					display: -webkit-flex;
					display: flex;
					-ms-flex-direction: column;
					-webkit-flex-direction: column;
					flex-direction: column;
				}

				div.option-list div.modal-dialog ul.modal-content li.row:not(.selected-default) {
					order: 2;
				}

				div.option-list div.modal-dialog ul.modal-content li.row.selected-default {
					order: 1;
				}

			div.option-list ul li:last-child {
				border-bottom: none;
			}

			div.option-list ul li button[rel=change-default-location] {
				color: #4990e2;
				font-weight: 700;
				padding: 0;
				margin: 1rem 0 .25rem;
				background: transparent;
				width: 100%;
				text-align: left;
				white-space: pre-wrap;
			}

				div.option-list ul li button[rel=change-default-location].title-button {
					font-size: 1rem;
				}

			div.option-list ul li div.action button[rel=change-default-location],
			button[rel=gps-change-default-location] {
				color: white;
				font-weight: 700;
				padding: 1rem;
				margin: 1rem 0 .25rem;
				background: #4990e2;
				text-align: center;
			}

			div.option-list ul li button[rel=change-default-location]:hover {
				background: transparent;
			}

			div.option-list ul li div.action button[rel=change-default-location]:hover,
			button[rel=gps-change-default-location]:hover {
				color: white;
				font-weight: 700;
				padding: 1rem;
				margin: 1rem 0 .25rem;
				background: #3880c0;
			}
	</style>


		AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());

		if(Sitecore.Context.PageMode.IsExperienceEditorEditing == false)
		{

		@Html.Script(
			@<div id="modal-placeholder">@Html.Partial("~/Areas/Feature_MedicalCenterLocations/Views/ERWait/ListingModal.cshtml", Model)</div>
					)
		}
	}
}
catch(Exception ex)
{

}
