﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.XA.Foundation.Theming.Bundler
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils;
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models;
@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.ERWaitListingsSearch

<button type="button" rel="gps-change-default-location">Use GPS To Find Closest</button><br />
@foreach(LocationWithDistanceSearch lwd in Model.locations)
{
	bool isdefault = (lwd.location.ClientID == Model.def.location.ClientID) ? true : false;

	<li class="row@((isdefault) ? " selected-default" : "")">
		<div class="col-sm-6 address-column">
			<button value="@lwd.location.ClientID" rel="change-default-location" class="title-button" aria-label="Set @lwd.location.TermName as default location">@lwd.location.ShortName</button><br />
			@lwd.location.AddressLine1<br />
			@if(!string.IsNullOrEmpty(lwd.location.AddressLine2))
			{
			@lwd.location.AddressLine2<br />
			}
			@(lwd.location.City), @lwd.location.State @lwd.location.PostalCode<br />
			<strong>@String.Format("{0:0.0 miles away}", lwd.distance)</strong>
			@if(lwd.er_wait.CV_ED_Wait.HasValue())
			{
			<br /><strong class="er-wait">ER Wait time: @lwd.er_wait.CV_ED_Wait minutes</strong>
			}
		</div>
		<div class="col-sm-6 action">
			@if(isdefault)
			{
			<b>
				Your location
				@if(Request.Cookies.AllKeys.Contains("specified-location"))
				{
				<br /><br /><a id="forget-chosen">Forget Selection</a>
				}
			</b>
			}
			else
			{
			<button value="@lwd.location.ClientID" rel="change-default-location" aria-label="Set @lwd.location.TermName as default location">Set as default location</button><br />
			}
		</div>
	</li>
}


