﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.XA.Foundation.Theming.Bundler
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils;
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models;
@model List<Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationWithDistanceSearch>

@{
	LocationUtils utils = new LocationUtils();
	utils.req = Request;

	ERWaitListingsSearch listmodel = new ERWaitListingsSearch();

	listmodel.locations = Model;
	listmodel.def = utils.getDefaultLocationSearch(Model);
	if(listmodel.def == null)
	{
		listmodel.def = Model.First();
	}
}

<div id="location-option-list" class="option-list modal fade change-location-header-modal-lg" tabindex="-1" role="dialog">
	<div class="modal-dialog" role="document">
		<ul class="modal-content">
			<div class="modal-header">
				<strong>Find your location</strong>
				<a href="" class="close" data-dismiss="modal" aria-label="close">close</a>				
			</div>
			<div class="modal-body">				
				@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/ERWait/ListOptions.cshtml", listmodel); }
			</div>
		</ul>
	</div>
</div>

