﻿@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Baptist.Feature.DemoRendering.Models.DemoRenderingModel

<div class="component @Model.CssClasses.Aggregate()" style="display: @Model.StyleDisplay">
	<h1>Here's something</h1>
</div>