﻿@using Sitecore
@using Sitecore.XA.Foundation.Multisite.LinkManagers
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Constants = Sitecore.XA.Feature.Events.Constants

@model Sitecore.XA.Feature.Events.Models.EventRenderingModel

@{
    DateTime start = DateUtil.ParseDateTime(Model.InnterItem[Constants.EventStart], DateTime.MinValue);
    DateTime end = DateUtil.ParseDateTime(Model.InnterItem[Constants.EventEnd], DateTime.MinValue);
    bool placeVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventPlace]);
    bool nameVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventName]);
    bool descriptionVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventDescription]);
    bool linkVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventLink]);
    string cssClass = (ViewData["cssClass"] != null ? (string)ViewData["cssClass"] : "");
}

<li class="event @cssClass">
    @using (Html.Sxa().BeginEditFrame(Model.InnterItem.ID.ToString(), "Event", Model.IsControlEditable && !Model.IsFromComposite))
    {
        if (Html.Sxa().IsEdit)
        {
        <div class="event-list-time">
            @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, Model.GetRenderingWebEditingParams())))
            @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, Model.GetRenderingWebEditingParams())))
        </div>
        }
        if (!Html.Sxa().IsEdit && !(start == DateTime.MinValue && end == DateTime.MinValue))
        {
        <div class="event-list-time">
            @if (end == DateTime.MinValue)
            {
                @Html.Sxa().Field("EventStart", Model.InnterItem, new { format = (start == start.Date ? "d" : "g") })
            }
            else if (start == DateTime.MinValue)
            {
                @Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = (end == end.Date ? "d" : "g") })
            }
            else if (start == end)
            {
                @Html.Sxa().Field("EventStart", Model.InnterItem, new { format = (start == start.Date ? "d" : "g") })
            }
            else
            {
                if (start.Date == end.Date)
                {
                @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "g" })))
                @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = "t" })))
                }
                else if (start == start.Date && end == end.Date)
                {
                @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "d" })))
                @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = "d" })))
                }
                else
                {
                @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "g" })))
                @Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = "g" })))
                }
            }
        </div>
        }


        if (Html.Sxa().IsEdit || placeVisible)
        {
        <div class="event-list-place">
            @Html.Sxa().Field("EventPlace", Model.InnterItem, Model.GetRenderingWebEditingParams())
        </div>
        }
        if (Html.Sxa().IsEdit || nameVisible)
        {
        <div class="event-list-name">
            @if (Html.Sxa().IsEdit || !linkVisible)
            {
                @Html.Sxa().Field("EventName", Model.InnterItem, Model.GetRenderingWebEditingParams())
            }
            else
            {
                <a href="@LinkItem.FromField(Model.InnterItem, false, Constants.EventLink).TargetUrl">
                    @Html.Sxa().Field("EventName", Model.InnterItem, Model.GetRenderingWebEditingParams())
                </a>
            }

        </div>
        }
        if (Html.Sxa().IsEdit || descriptionVisible)
        {
        <div class="event-list-description">
            @Html.Sxa().Field("EventDescription", Model.InnterItem, Model.GetRenderingWebEditingParams())
        </div>
        }
        if (Html.Sxa().IsEdit || linkVisible)
        {
        <div class="event-list-link">
            @Html.Sxa().Field("EventLink", Model.InnterItem, Model.GetRenderingWebEditingParams())
        </div>
        }
    }
</li>
