﻿@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@model Tuple<LocationItemRenderingModel, string>
@if(!string.IsNullOrEmpty(Model.Item1.SchedulingCode))
{
	<text>
		<div class="omw-hmp-list-button location-details">
			<a href="@SchedulingUtils.getSchedulingUrl(Request.Url.Host, Model.Item1.SchedulingCode)" target="_blank" class="@Model.Item2"><i class="fa fa-car"></i>@SchedulingUtils.getButtonText(Model.Item1.LocationType, Model.Item1.SchedulingLabel)</a>
		</div>
	</text>
}
