﻿@using System.Collections.Specialized
@using Sitecore.Baptist.Feature.CareersIcims.Areas.Feature_CareersIcims.Models
@using Sitecore.Baptist.Feature.CareersIcims.Classes
@using Newtonsoft.Json
@using Sitecore.Baptist.Foundation.Common.Utils

@model PortalSearchResults

@{
	ICimsClient iclient = new ICimsClient();
	int cnt = 1;
}

<div id="page-career-search-results">
	<div class="log-back-in">
		@Translate.Text("Returning Candidate?")&nbsp;<a href="https://@(Model.portalname)-bmhcc.icims.com/jobs/login?loginOnly=1&redirect=&in_iframe=1&hashed=-435835644">@Translate.Text("Log Back In!")</a>
	</div>
	<div class="row component column-splitter hidden-md hidden-lg hidden-xl " id="save-filter-toggle-button">
		<div class="column col-xs-6">
			<button type="button" class="collapsed" data-collapse-group="save-filters" data-toggle="collapse" data-target="#refine-search-filters">@Translate.Text("Filter Settings")</button>
		</div>
		<div class="column col-xs-6">
			<button type="button" class="collapsed" data-collapse-group="save-filters" data-toggle="collapse" data-target="#manage-agents">@Translate.Text("Save Settings")</button>
		</div>
	</div>
	<div class="row component column-splitter" id="top-filters">
		<div class="col-md-6" id="refine-intro">
			<div class="component rich-text career-search-intro col-xs-12">
				<div class="component-content">
					<p>@Translate.Text("Refine your search"):</p>
				</div>
			</div>
			<div class="component search-box-baptist career-search-query col-xs-12" data-properties="">
				<div class="component-content">
					<label for="careerSearch">@Translate.Text("Career search")</label>
					<input type="text" class="search-box-input-baptist has-search-icon" autocomplete="off" id="careerSearch" name="careerSearch" value="@((Model.originalsearch.AllKeys.Contains("job.portalkeywordsearch")) ? Model.originalsearch["job.portalkeywordsearch"] : "")">
					<button class="search-box-button-baptist" value="Save" role="button" id="updateresults" type="submit">@Translate.Text("Search")</button>
				</div>
			</div>
		</div>

		<div class="col-md-6 hidden-xs hidden-sm" id="manage-agents">
			<div class="component rich-text col-xs-12">
				<div class="component-content manage-agent-block">
					<p>
						You can save these search settings as an agent, meaning an email will be sent to you every time a new opening matches your criteria. If you would like to create an agent, please fill out the form below and click the create button.
					</p>
					<div class="row component column-splitter">
						<div class="col-md-8">
							<div class="component search-box-baptist col-xs-12" data-properties="">
								<form method="post" accept-charset="utf-8" id="createSearchAgent" name="createSearchAgent" action="https://@(Model.portalname)-bmhcc.icims.com/jobs/agents?csrf=2BA54B4A31A737D1&amp;in_iframe=1&amp;hashed=-435835644" onsubmit="return VerifyCreateAgent();">
									<input type="hidden" name="icimsCookiesEnabledCheck" value="false">
									<input type="hidden" id="createAgentKeywords" name="createAgentKeywords" value="@((Model.originalsearch.AllKeys.Contains("job.portalkeywordsearch")) ? Model.originalsearch["job.portalkeywordsearch"] : "")">
									<input type="hidden" id="createAgentKeywordsSearchRelation" name="createAgentKeywordsSearchRelation" value="keyword_all">
									<input type="hidden" id="createAgentLocations" name="createAgentLocations" value="@((Model.originalsearch.AllKeys.Contains("job.portaljoblocation")) ? Model.originalsearch["job.portaljoblocation"] : "")">
									<input type="hidden" id="createAgentCategories" name="createAgentCategories" value="@((Model.originalsearch.AllKeys.Contains("job.positioncategory")) ? Model.originalsearch["job.positioncategory"] : "")">
									<input type="hidden" id="createAgentCompanies" name="createAgentCompanies" value="@((Model.originalsearch.AllKeys.Contains("job.joblocation.companyid")) ? Model.originalsearch["job.joblocation.companyid"] : "")">
									<input type="hidden" id="createAgentPositionTypes" name="createAgentPositionTypes" value="@((Model.originalsearch.AllKeys.Contains("job.positiontype")) ? Model.originalsearch["job.positiontype"] : "")">
									<input type="hidden" id="createAgentZipCode" name="createAgentZipCode" value="@((Model.originalsearch.AllKeys.Contains("job.joblocation.zipradius")) ? Model.originalsearch["job.joblocation.zipradius"] : "")">
									<input type="hidden" id="createAgentRadius" name="createAgentRadius" value="@((Model.originalsearch.AllKeys.Contains("job.joblocation.zipradius")) ? Model.originalsearch["job.joblocation.zipradius"] : "")">
									<input type="hidden" id="agentRunMode" name="agentRunMode" value="create">
									<div class="component-content">
										<label for="createAgent">@Translate.Text("Name of Email Alert")</label>
										<input type="text" class="search-box-input-baptist" autocomplete="off" id="createAgent" name="createAgentName" maxlength="32" placeholder="Enter name of Email Alert" />
										<button class="search-box-button-baptist" value="Save" role="button" id="jsp_form_create_i" type="submit">@Translate.Text("Create Agent")</button>
									</div>
								</form>
							</div>
						</div>
						<div class="col-md-4">
							<a id="manage-agent-link" href="https://@(Model.portalname)-bmhcc.icims.com/jobs/login?loginOnly=1&redirect=search&in_iframe=1&hashed=-435835644">@Translate.Text("Manage my agents")</a>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="component rich-text col-xs-12 hidden-xs hidden-sm visible-md visible-lg visible-xl" id="refine-search-filters">
		<div class="component-content">
			<form id="refine-your-search" class="refine-filter-form" action="" method="post">
				<div>Filter by:</div>
				<input type="hidden" name="portal_name" value="@Model.portalname" />
				<input name="job.portalkeywordsearch" value="@((Model.originalsearch.AllKeys.Contains("job.portalkeywordsearch")) ? Model.originalsearch["job.portalkeywordsearch"] : "")" id="keywordpost" type="hidden" />
				@foreach(PortalFilter pf in Model.portalfilters.filters)
				{
					if(pf.type.display == "multiselect" || pf.options != null)
					{
					<div>
						<select name="@pf.name">
							<option value="">@(pf.label)</option>
							@foreach(FilterOption fo in pf.options)
							{
								if(pf.type.display == "datetime")
								{
									DateTime filtdate = DateTime.Parse(fo.id);
									fo.id = filtdate.ToString("yyyy-MM-dd hh:mm tt");									
								}
								bool selected = (Model.originalsearch.AllKeys.Contains(pf.name) && Model.originalsearch[pf.name] == fo.id) ? true : false;
								<option value="@fo.id" @((selected) ? " selected" : "")>@fo.value</option>
							}
						</select>
					</div>
					}
				}
			</form>
			<button class="search-box-button-baptist" value="Save" role="button" data-trgt="#updateresults" id="filterUpdateResults" type="submit">@Translate.Text("Update Results")</button>
		</div>
	</div>

	<div id="responsecontainer" class="career-search-results">
		<div class="row col-titles hidden-xs hidden-sm">
			<div class="column col-md-1 hidden-md">Postion Code</div>
			<div class="column col-md-3">Job Title</div>
			<div class="column col-sm-2">Status</div>
			<div class="column col-sm-3">Department</div>
			<div class="column col-sm-2">Location</div>
			<div class="column col-sm-1">Posted Date</div>
		</div>
	</div>

	<button id="load-more" type="button">@Translate.Text("Load more results")</button>



	<script id="job-row-template" type="text/x-handlebars-template">
		<div class="row search-result{{hidden}}" data-job-id="{{id}}">
			<i class="fa fa-chevron-right" aria-hidden="true" onclick="window.location='/careers/{{slugurl}}';"></i>
			<div class="column col-md-1 hidden-xs hidden-sm hidden-md">{{positioncode}}</div>
			<div class="column col-sm-12 col-md-3 result-position-title"><a href="/careers/{{slugurl}}">{{positiontitle}}</a></div>
			<div class="column col-md-2 hidden-xs hidden-sm">{{status}}</div>
			<div class="column col-md-3 hidden-xs hidden-sm">{{department}}</div>
			<div class="column col-sm-8 col-md-2 result-location">{{location}}</div>
			<div class="column col-sm-4 col-md-1 result-posted-date">{{posteddate}}</div>
		</div>
	</script>

	<script id="search-results-empty-template" type="text/x-handlebars-template">
		<p>
			<h2>@Translate.Text("No results found matching submitted search criteria.")</h2>
		</p>
	</script>

	<script type="text/javascript">
		var pn = "@Model.portalname";
	</script>

	@Html.Script(
		@<script type="text/javascript">

		var jobpostresults = jobpostresults || {};

		jobpostresults = {

			processResults : function(portalname, resp, templateid, containerid, hiddenrows){

				$.each(resp, function(i, data){

					var pn = portalname;
					var churl = "/api/sitecore/Careers/GetICimsPortalPost?portalname=" + pn + "&id=" + data.id;

					var reckid = data.id;
					var hiddenr = "";
					if(hiddenrows == true){
						hiddenr = " masked"
					}

					$.ajax({
						type: "GET",
						url: churl,
						dataType: 'json',
						success: function(d){
							var dom = jsel(d);

							var slugurl = reckid + "--" + portalname + "--" + slugify( dom.select("//*[@@label='Position Title']").value );

							var location;
							if(dom.select("//*[@@label='Location']") == null){
								location = dom.select("//*[@@label='Locations']").value;
							}else{
								location = dom.select("//*[@@label='Location']").value;
							}

							var department;
							if(dom.select("//*[@@label='Department']") == null){
								department = dom.select("//*[@@label='Department Name']").value;
							}else{
								department = dom.select("//*[@@label='Department']").value;
							}

							var context = {
								"id" : reckid,
								"positioncode" : dom.select("//*[@@label='Position Code']").value,
								"positiontitle" : dom.select("//*[@@label='Position Title']").value,
								"status" : dom.select("//*[@@label='Status']").value,
								"department" : department,
								"location" : location,
								"posteddate" : dom.select("//*[@@label='Posted Date']").value,
								"hidden": hiddenr,
								"portalurl": data.portalurl,
								"slugurl": slugurl
							};

							var tempScript = $(templateid).html();
							var tempComp = Handlebars.compile(tempScript);
							//var head = dom.select("//*label");

							var output = tempComp(context);

							$(containerid).append(output);
						}
					});
				});

			}

		}


		$(function(){
			var resp = @(Html.Raw( (Model.searchResults != null ) ? JsonConvert.SerializeObject(Model.searchResults.Select(x => new { id = x.id, url = x.self, portalurl = x.portalUrl })) : "[]"));

			if(resp.length <= 20){
				$('button#load-more').hide();
			}else{
				$('button#load-more').show()
			}

			if(resp.length < 1){
				var context = {};
				var tempScript = $("#search-results-empty-template").html();
				var tempComp = Handlebars.compile(tempScript);
				var output = tempComp(context);

				$("#responsecontainer").append(output);
			} else {

				//console.log(resp);
				var nextset = resp.slice(0,20);
				//console.log(nextset);
				//var kill = resp.splice(0,20);
				resp.splice(0,20);
				//console.log(resp);

				//resp = kill;

				//console.log(resp);

				var templateid = "#job-row-template";
				var containerid = "#responsecontainer";


				jobpostresults.processResults(pn,nextset,templateid,containerid, false);

				jobpostresults.processResults(pn,resp,templateid,containerid, true);
			}

			$('button#load-more').click(function(event){
				event.preventDefault();

				/*nextset = resp.slice(0,20);
				console.log(nextset);

				resp.splice(0,20);
				console.log(resp);

				//resp = kill;

				jobpostresults.processResults(pn, nextset,templateid,containerid);*/
				$('.row.search-result.masked').removeClass('masked');

				if($('.row.search-result.masked').length == 0){
					$('button#load-more').hide();
				}
			});
			$('button#updateresults').click(function(event){
				event.preventDefault();
				$('input#keywordpost').val($('input#careerSearch').val());

				$('form#refine-your-search').submit();
			});
			$('input#careerSearch').change(function (event) {
				if (event.keyCode = 13) {
					$('input#keywordpost').val($('input#careerSearch').val());

					$('form#refine-your-search').submit();
				}
			});
			$("[data-collapse-group='save-filters']").click(function () {
				var $this = $(this);
				$("[data-collapse-group='save-filters']:not([data-target='" + $this.data("target") + "'])").each(function () {
					$(this).addClass('collapsed');
					$($(this).data("target")).removeClass("in").addClass('collapse');
				});
			});

			$("#filterUpdateResults").click(function(event){
				event.preventDefault();
				$($(this).data('trgt')).click();
			});

		});

		function slugify(text)
		{
			return text.toString().toLowerCase()
				.replace(/\s+/g, '-')           // Replace spaces with -
				.replace(/[^\w\-]+/g, '')       // Remove all non-word chars
				.replace(/\-\-+/g, '-')         // Replace multiple - with single -
				.replace(/^-+/, '')             // Trim - from start of text
				.replace(/-+$/, '');            // Trim - from end of text
		}

		</script>
)
</div>