﻿@using Sitecore.Web
@using Newtonsoft.Json
@using Sitecore.Data.Fields
@using Sitecore.Links
@using Sitecore.Baptist.Feature.CareersIcims.Classes;
@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Baptist.Feature.CareersIcims.Areas.Feature_CareersIcims.Models
@model PortalFilters
@{

	string portalname = Model.portalname;

}

<form action="" method="post" id="job-search">
	<input type="hidden" name="portal_name" value="@portalname" />
	<div class="row component column-splitter" id="search-blocks">

		<div class="component rich-text career-search-intro col-xs-12" id="search-intro">
			<div class="component-content">
				<p>Search for jobs matching your career interests:</p>
			</div>
			<div class="set-search-filters visible-xs hidden-sm hidden-md hidden-lg hidden-xl">
				@(Translate.Text("OPTIONAL")):&nbsp;<a onclick="return false;" class="arrow-toggle collapsed" data-toggle="collapse" data-target="#filter-block">Set search filters</a>
			</div>
		</div>

		<div class="component search-box-baptist career-search-form col-xs-12" data-properties="" id="search-form">
			<div class="component-content">
				<label for="careerSearch">@Translate.Text("Career search")</label>
				<input type="text" class="search-box-input-baptist has-search-icon" autocomplete="off" id="careerSearch" name="job.portalkeywordsearch" placeholder="Start your job search here" />
				<button type="submit" class="search-box-button-baptist" value="Search">Search</button>
			</div>
		</div>

		<div class="component rich-text col-xs-12" id="view-all-positions">
			<div class="component-content">
				<div class="or-separator"><p>or</p></div>
				<a href="#" id="view-all-job-postings" class="cta-button-primary career-search-view-all">@Translate.Text("View all open job positions")</a>
				<p class="returning-candidate">@Translate.Text("Returning candidate")?&nbsp;<a href="https://@portalname-bmhcc.icims.com/jobs/login?loginOnly=1" id="returning-candidate-log-back-in">@Translate.Text("Log back in!")</a></p>	
			</div>
		</div>

		<div class="col-md-4 col-md-offset-1 hidden-xs visible-sm visible-md visible-lg visible-xl" id="filter-block">
			<div class="component rich-text career-search-optional-filters-container col-xs-12">
				<div class="component-content">
					<h2>@Translate.Text("Optional Filters")</h2>
					<div class="career-search-optional-filters">
						@foreach(PortalFilter pf in Model.filters)
						{

							if(pf.type.display == "multiselect" || pf.options != null)
							{
							<div class="form-field-wrapper">
								<label>@(pf.label):</label>
								<select name="@pf.name">
									<option value="">(All)</option>
									@foreach(FilterOption fo in pf.options)
									{
										if(pf.type.display == "datetime") {
											DateTime filtdate = DateTime.Parse(fo.id);
											fo.id = filtdate.ToString("yyyy-MM-dd hh:mm tt");
										}
										<option value="@fo.id">@fo.value</option>
									}
								</select>
							</div>
							}
						}
					</div>
				</div>
			</div>
		</div>

	</div>
</form>