﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using System.Globalization
@using System.Threading
@using Sitecore.Baptist.Feature.CareersIcims.Areas.Feature_CareersIcims.Models
@model Sitecore.Baptist.Feature.CareersIcims.Areas.Feature_CareersIcims.Models.ICimsJobPosting


@{
	ICimsDataValue jobtitle = Model.header.Where(x => x.label == "Position Title").First();

	string portalurl = jobtitle.value.ToUrlSlug();

	string fullportalurl = string.Format("https://{0}-bmhcc.icims.com/jobs/{1}/{2}", Model.portalname, Model.jobid, portalurl);
	CultureInfo cultureInfo = Thread.CurrentThread.CurrentCulture;
	System.Globalization.TextInfo ti = cultureInfo.TextInfo;

	//string prettytitle = ti.ToTitleCase(jobtitle.value.Replace("-", " ").ToLowerInvariant());
	//string prettytitle = ti.ToTitleCase(jobtitle.value.Replace("-", " ").ToLowerInvariant());
	string prettytitle = jobtitle.value.ToString();
}
<div class="component breadcrumb col-xs-12 initialized">
	<div class="component-content">
		<nav>
			<ol>
				<li class="breadcrumb-item home">
					<div class="field-navigationtitle"><a title="Home" href="/">@Translate.Text("Home")</a></div>                            <span class="separator">/</span>
				</li>
				<li class="breadcrumb-item">
					<div class="field-navigationtitle"><a title="Careers" href="/careers">@Translate.Text("Careers")</a></div>                            <span class="separator">/</span>
				</li>
				<li class="breadcrumb-item last">
					<div class="field-navigationtitle"><a title="" href="">@prettytitle</a></div>
				</li>
			</ol>
		</nav>
	</div>
</div>
<div id="page-career-details">
	<h1>@(prettytitle)</h1>
	<div class="row component column-splitter hidden-lg hidden-xl " id="apply-refer-toggle-button">
		<div class="column col-xs-6">
			<button type="button" class="collapsed" data-collapse-group="apply-refer-filters" data-toggle="collapse" data-target="#apply-controls">@Translate.Text("Apply Online")</button>
		</div>
		<div class="column col-xs-6">
			<button type="button" class="collapsed" data-collapse-group="apply-refer-filters" onclick="window.open('@(fullportalurl)/referral?in_iframe=1&hashed=-435835644'); return false;">@Translate.Text("Refer A Friend")</button>
		</div>
	</div>

	<div class="row orderable">
		<div id="main-content" class="column col-md-12 col-lg-9">
			<a href="https://media.icims.com/training/CandidateFAQ/FAQ.html" class="application-faqs-link" target="_blank">@Translate.Text("Application FAQs")</a>
			<div id="job-header">
				<div class="row">
					@foreach(ICimsDataValue heading in Model.header)
					{
					<div class="column col-md-6 row">
						<div class="column col-xs-6 datapoint key">@heading.label</div>
						<div class="column col-xs-6 datapoint value">@heading.value</div>
					</div>
					}
				</div>
			</div>
			@{
				ICimsDataValue overview = Model.description.Where(x => x.label == "Overview and Responsibilities").First();
			}
			<div id="job-overview">
				<h2>@Translate.Text("Overview and Responsibilities")</h2>

				@Html.Raw(overview.value)
			</div>
			@{
				ICimsDataValue qualifications = Model.description.Where(x => x.label == "Qualifications").First();
			}
			<div id="job-qualifications">
				<h2>@Translate.Text("Qualifications")</h2>
				@Html.Raw(qualifications.value)
			</div>
		</div>
		<div id="apply-refer-controls" class="column col-lg-3">
			<div id="apply-controls">
				<h3>@Translate.Text("Apply Online")</h3>
				<p>In order to apply for this job, you must create a profile.  If you have already created a profile, you may simply login to begin your application.</p>
				<p><a href="@fullportalurl/candidate?back=intro&from=ref&in_iframe=1&hashed=-435835644" class="cta-button">@Translate.Text("Log in begin your application")</a></p>
				<p>
					<strong>@Translate.Text("Don't have a login?")</strong>
					<ul>
						<li><a href="https://@(Model.portalname)-bmhcc.icims.com/jobs/login?back=intro&hashed=-435835644" title="@Translate.Text("Upload Your Resume")" target="_blank">@Translate.Text("Upload Your Resume")</a></li>
						<li><a href="https://@(Model.portalname)-bmhcc.icims.com/jobs/login?back=intro&hashed=-435835644" title="@Translate.Text("Create Your Resume Online")" target="_blank">@Translate.Text("Create Your Resume Online")</a></li>
					</ul>
				</p>
			</div>

			<a href="@(fullportalurl)/referral?in_iframe=1&hashed=-435835644" id="refer-a-friend-sidebar" class="cta-button-accent">@Translate.Text("Refer A Friend")</a>
		</div>
	</div>
</div>