﻿@using Sitecore.XA.Feature.Events.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Baptist.Feature.GeneralComponents.Areas.Feature_GeneralComponents.Models
@using Sitecore.Baptist.Foundation.Common.Utils

@model Sitecore.Baptist.Feature.GeneralComponents.Areas.Feature_GeneralComponents.Models.BaptistEventListRenderingModel

@{
	bool isVisible = (ViewData["eventListVisible"] == null || (bool)ViewData["eventListVisible"]);
	int index = 0;
}

@if(isVisible)
{
	if(!(Model.Rendering.DataSourceItem == null && !Html.Sxa().IsEdit))
	{
	<div @Html.Sxa().Component("event-list", Model.Attributes)>
		@if(Model.Location != null && Model.Location.LocationName.HasValue())
		{
			<h1>@Model.Location.LocationName Events</h1>
		}
		<div class="component-content">

			@Html.Sxa().RenderHeading(Model.HeadingTag, Model.DataSourceItem, "Title", Model.GetRenderingWebEditingParams())

			@if(Html.Sxa().IsEdit && Model.Rendering.DataSourceItem == null)
			{
			@Model.MessageIsEmpty
			}

			@if(Model.Rendering.DataSourceItem != null && !Model.EventItems.Any())
			{
				using(Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "Event Empty", Model.IsControlEditable))
				{
				@Model.MessageIsEmpty
				}
			}

			@if(Model.Rendering.DataSourceItem != null)
			{
			<ul>
				@foreach(BaptistEventRenderingModel item in Model.EventItems)
				{
					{
						Html.RenderPartial("../BaptistEventList/BaptistEventListEvent", item, new ViewDataDictionary { { "cssClass", ListsHelper.BuildCssClass(index, Model.EventItems.Count()) } });
					}
					index++;
				}
			</ul>
			}
		</div>
	</div>
	}
}