﻿@using Sitecore
@using Sitecore.XA.Foundation.Multisite.LinkManagers
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Data.Items
@using Sitecore.Data
@using Constants = Sitecore.XA.Feature.Events.Constants

@model Sitecore.Baptist.Feature.GeneralComponents.Areas.Feature_GeneralComponents.Models.BaptistEventRenderingModel

@{
	DateTime start = DateUtil.ParseDateTime(Model.InnterItem[Constants.EventStart], DateTime.MinValue);
	DateTime end = DateUtil.ParseDateTime(Model.InnterItem[Constants.EventEnd], DateTime.MinValue);
	bool placeVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventPlace]);
	bool nameVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventName]);
	bool descriptionVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventDescription]);
	bool linkVisible = !string.IsNullOrEmpty(Model.InnterItem[Constants.EventLink]);
	string cssClass = (ViewData["cssClass"] != null ? (string)ViewData["cssClass"] : "");
	//location slug
	/*string locationslug = "loc-other";
	if(Model.InnterItem.Parent["Location"].Trim().HasValue())
	{
		Sitecore.Data.Database db = Sitecore.Context.Database;
		ID locid = ID.Parse(Model.InnterItem.Parent["Location"]);
		Item locitem = db.GetItem(locid);

		if(locitem["Location Name"].HasValue()) {
			locationslug = "loc-" + locitem["Location Name"].toSlug();
		}
	}

	//event topic slug
	string topicslug = Model.InnterItem.Parent["Title"].toSlug();
	*/

	string categoryindex = "";
	if(Model.eventListCategory != null && Model.eventListCategory.HasValue())
	{

		Array.ForEach(Model.eventListCategory.Split('|'), x => categoryindex += x.toSlug() + " ");
	}
	categoryindex = categoryindex.TrimEnd();

}

<li class="event @cssClass searchable row display-flex" data-filter-event-category="@categoryindex" data-filter-event-topic="@Model.InnterItem.ParentID" data-filter-event-location="@((Model.InnterItem.Parent["Location"].Trim().HasValue()) ? @Model.InnterItem.Parent["Location"] : "other")">
	@using(Html.Sxa().BeginEditFrame(Model.InnterItem.ID.ToString(), "Event", Model.IsControlEditable && !Model.IsFromComposite))
	{
		if(Html.Sxa().IsEdit)
		{
		<div class="event-list-time col-xs-12 col-sm-3">
			@Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, Model.GetRenderingWebEditingParams())))
			@Html.Raw(string.Format("{0} {1} ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, Model.GetRenderingWebEditingParams())))
		</div>
		}
		if(!Html.Sxa().IsEdit && !(start == DateTime.MinValue && end == DateTime.MinValue))
		{
		<div class="event-list-time col-xs-12 col-sm-3">

			<div class="time-dates">
				@if(end == DateTime.MinValue)
				{
				<div class="event-list-time-start">
					@Html.Sxa().Field("EventStart", Model.InnterItem, new { format = (start == start.Date ? "d" : "g") })
				</div>
				}
				else if(start == DateTime.MinValue)
				{
				<div class="event-list-time-end">
					@Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = (end == end.Date ? "d" : "g") })
				</div>
				}
				else if(start == end)
				{
				<div class="event-list-time-start">
					@Html.Sxa().Field("EventStart", Model.InnterItem, new { format = (start == start.Date ? "d" : "g") })
				</div>
				}
				else
				{
					if(start.Date == end.Date)
					{
					<div class="event-list-date">@Html.Raw(string.Format("{0} ", Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "d" })))</div>
					<div class="event-list-time-start">
						@Html.Raw(string.Format("{0} <span class=\"time-string\">{1}</span> ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "t" })))
					</div>
					<div class="event-list-time-end">
						@Html.Raw(string.Format("{0} <span class=\"time-string\">{1}</span> ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = "t" })))
					</div>
					}
					else if(start == start.Date && end == end.Date)
					{
					<div class="event-list-date">@Html.Raw(string.Format("{0} ", Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "d" })))</div>
					<div class="event-list-time-start">
						@Html.Raw(string.Format("{0} <span class=\"time-string\">{1}</span> ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "t" })))
					</div>
					<div class="event-list-time-end">
						@Html.Raw(string.Format("{0} <span class=\"time-string\">{1}</span> ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = "t" })))
					</div>
					}
					else
					{
					<div class="event-list-date">@Html.Raw(string.Format("{0} ", Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "d" })))</div>
					<div class="event-list-time-start">
						@Html.Raw(string.Format("{0} <span class=\"time-string\">{1}</span> ", Model.InnterItem[Constants.StartLabel], Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "t" })))
					</div>
					<div class="event-list-time-end">
						@Html.Raw(string.Format("{0} <span class=\"time-string\">{1}</span> ", Model.InnterItem[Constants.EndLabel], Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = "t" })))
					</div>
					}
				}
			</div>
			<span class="addtocalendar atc-style-blue">
				<var class="atc_event">
					<var class="atc_date_start">@Html.Sxa().Field("EventStart", Model.InnterItem, new { format = "yyyy-MM-dd HH:mm:ss" })</var>
					<var class="atc_date_end">@Html.Sxa().Field("EventEnd", Model.InnterItem, new { format = "yyyy-MM-dd HH:mm:ss" })</var>
					<var class="atc_timezone">America/Chicago</var>
					<var class="atc_title">@Html.Sxa().Field("EventName", Model.InnterItem, Model.GetRenderingWebEditingParams())</var>
					<var class="atc_description">@Html.Sxa().Field("EventDescription", Model.InnterItem, Model.GetRenderingWebEditingParams()).ToHtmlString().StripHtmlCharArray()</var>
					<var class="atc_location">@Html.Sxa().Field("EventPlace", Model.InnterItem, Model.GetRenderingWebEditingParams())</var>
				</var>
			</span>
		</div>
		}

		<div class="event-list-item-description col-xs-12 col-sm-7">
			@if(Html.Sxa().IsEdit || nameVisible)
			{
			<div class="event-list-name">
				@if(Html.Sxa().IsEdit || !linkVisible)
				{
				@Html.Sxa().Field("EventName", Model.InnterItem, Model.GetRenderingWebEditingParams())
				}
				else
				{
				<a href="@LinkItem.FromField(Model.InnterItem, false, Constants.EventLink).TargetUrl">
					@Html.Sxa().Field("EventName", Model.InnterItem, Model.GetRenderingWebEditingParams())
				</a>
				}

			</div>
			}
			@if(Html.Sxa().IsEdit || descriptionVisible)
			{
			<div class="event-list-description">
				@Html.Sxa().Field("EventDescription", Model.InnterItem, Model.GetRenderingWebEditingParams())
			</div>
			}
			@if(Html.Sxa().IsEdit || linkVisible)
			{
			<div class="event-list-link">
				@Html.Sxa().Field("EventLink", Model.InnterItem, Model.GetRenderingWebEditingParams())
			</div>
			}
		</div>

		if(Html.Sxa().IsEdit || placeVisible)
		{
		<div class="event-list-place col-xs-12 col-sm-2">
			@Html.Sxa().Field("EventPlace", Model.InnterItem, Model.GetRenderingWebEditingParams())
		</div>
		}
	}
</li>
