﻿@using Sitecore.XA.Feature.Events.Models
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.RenderingVariants.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Baptist.Feature.GeneralComponents.Areas.Feature_GeneralComponents.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Repositories
@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Globalization
@using Sitecore.Data.Items

@model Sitecore.Baptist.Feature.GeneralComponents.Areas.Feature_GeneralComponents.Models.BaptistCombinedEventListing

@{
	bool isVisible = (ViewData["eventListVisible"] == null || (bool)ViewData["eventListVisible"]);
	int index = 0;

	var parms = RenderingContext.Current.Rendering.Parameters;
	bool hidelocations = (parms["Hide Location Filter"] != null) ? true : false;

	bool hidetopics = (parms["Hide Topic Filter"] != null) ? true : false;
	//bool.Parse(parms["Hide Topic Filter"].ToString());
}
@if(isVisible)
{
	if(!(Model.combinedEvents == null && !Html.Sxa().IsEdit))
	{
	<div @Html.Sxa().Component("event-list", Model.combinedEvents.Attributes)>

		<div class="component-content">

			@{
				List<LocationItemRenderingModel> evlocations = new List<LocationItemRenderingModel>();
				Sitecore.Data.ID hospitalsfolder = Sitecore.Data.ID.Parse("{03483C17-988E-4B89-9C70-57688C4EDAC3}");
				Item hospitalitem = Sitecore.Context.Database.GetItem(hospitalsfolder);
				foreach(Item hospital in hospitalitem.Children.Where(x => x.TemplateName == "Location Iem" || x.TemplateName == "Hospital Item"))
				{
					LocationItemRepository lir = new LocationItemRepository();
					lir.LocationItem = hospital;
					evlocations.Add((LocationItemRenderingModel)lir.GetModel());
				}

				List<string> categoriesinit = new List<string>();
				List<string> categories = new List<string>();


				if(Model.eventLists.Where(x => x.EventListCategory.Trim() != "").Select(x => x.EventListCategory).Distinct().Count() > 0)
				{
					categoriesinit = Model.eventLists.Where(x => x.EventListCategory.Trim() != "").Select(x => x.EventListCategory).Distinct().ToList<string>();
				}

				categories = categoriesinit.Where(x => x.Contains('|') == false).ToList<string>();

				foreach(string multi in categoriesinit.Where(x => x.Contains('|')))
				{
					List<string> splitcat = multi.Split('|').ToList<string>();

					categories = categories.Union(splitcat).ToList<string>();
				}
				categories.Sort();
			}


			@if(!hidelocations || !hidetopics)
			{

			<div class="row event-filters">
				@if(!hidetopics)
				{
				<div class="col-sm-12 col-lg-12">
					<strong>@Translate.Text("Filter by"):</strong>
					@if(categories.Count() > 0)
					{
					<select name="filter-category">
						<option value="" data-category-hash-selector="">@Translate.Text("Any category")</option>
						@foreach(string category in categories.Where(x => x.Trim() != ""))
						{
						<option value="@category.toSlug()" data-category-hash-selector="cat-@category.toSlug()">@category</option>
						}
					</select>
					}
					<select name="filter-event-topics">
						<option value="" data-topic-hash-selector="">@Translate.Text("Any event topic")</option>
						@foreach(var evlist in Model.eventLists)
						{
							/*if(evlist.Location != null && evlist.Location.LocationName.HasValue())
							{
								if(evlocations.Where(x => x.LocationName == evlist.Location.LocationName).Count() < 1)
								{
									evlocations.Add(evlist.Location);
								}
							}*/
							<option value="@evlist.Item.ID.ToString()" data-topic-hash-selector="@evlist.Item["Title"].toSlug()">@evlist.Item["Title"]</option>
						}

					</select>
					@if(!hidelocations)
					{
					<select name="filter-location">
						<option value="" data-location-hash-selector="">@Translate.Text("Any Location")</option>
						@foreach(var loc in evlocations)
						{
						<option value="@loc.ItemID.ToString()" data-location-hash-selector="loc-@loc.LocationName.toSlug()">@loc.LocationName</option>
						}
						<option value="other" data-location-hash-selector="loc-other">@Translate.Text("All other locations")</option>
					</select>
					}
				</div>
				}
			</div>
			}

			@if(Html.Sxa().IsEdit && Model.combinedEvents == null)
			{ @Model.combinedEvents.MessageIsEmpty  }
			@if(Model.combinedEvents != null && !Model.combinedEvents.EventItems.Any())
			{
				using(Html.Sxa().BeginEditFrame(Html.Sitecore().CurrentRendering.DataSource, "Event Empty", Model.combinedEvents.IsControlEditable))
				{ @Model.combinedEvents.MessageIsEmpty  }
			}
			@if(Model.combinedEvents != null)
			{
			<ul id="event-listing">
				@foreach(BaptistEventRenderingModel item in Model.combinedEvents.EventItems)
				{
					if(categories.Count > 0)
					{
						item.eventListCategory = Model.eventLists.Where(x => x.Item.ID == item.InnterItem.ParentID).Select(x => x.EventListCategory).Single();
					}

					{
						Html.RenderPartial("../BaptistEventList/BaptistEventListEvent", item, new ViewDataDictionary { { "cssClass", ListsHelper.BuildCssClass(index, Model.combinedEvents.EventItems.Count()) } });
					}
					index++;
				}
			</ul>
				<h1 class="empty-results" style="display: none;">@Translate.Text("There are currently no events scheduled.")</h1>
			}
		</div>
	</div>
					}
				}

<style id="topic_filter"></style>
<style id="location_filter"></style>
<style id="category_filter"></style>

<div id="eventlistinit" style="disply: none;"></div>


@Html.Script(
	@<link href="https://addtocalendar.com/atc/1.5/atc-style-blue.css" rel="stylesheet" type="text/css" />
	)

@Html.Script(
	@<script type="text/javascript">
		(function () {
			if (window.addtocalendar) if (typeof window.addtocalendar.start == "function") return;
			if (window.ifaddtocalendar == undefined) {
				window.ifaddtocalendar = 1;
				var d = document, s = d.createElement('script'), g = 'getElementsByTagName';
				s.type = 'text/javascript'; s.charset = 'UTF-8'; s.async = true;
				s.src = ('https:' == window.location.protocol ? 'https' : 'http') + '://addtocalendar.com/atc/1.5/atc.min.js';
				var h = d[g]('body')[0]; h.appendChild(s);
			}
		})();
	</script>
)