﻿@using Sitecore.Baptist.Foundation.Common.Utils
@model Sitecore.Baptist.Feature.PhysicianDirectory.Templates.Custom.PhysicianRenderingModel

@if(Model.HideSchedulingWidget == false && Model.OneCareID.HasValue() && Model.OneCareVT.HasValue())
{
	<a href="https://mychart.baptistonecare.org/prd/SignupAndSchedule/EmbeddedSchedule?id=@Model.OneCareID&vt=@Model.OneCareVT&public=1" target="_blank" class="cta-button">Schedule an Appointment</a>
}

@if(Model.HideSchedulingWidget == false && Model.OneCareID.HasValue() && Model.OneCareVT.HasValue())
{
	<div id="scheduleContainer" style="overflow: scroll;">
		<iframe id="openSchedulingFrame" src="https://mychart.baptistonecare.org/prd/SignupAndSchedule/EmbeddedSchedule?id=@Model.OneCareID&vt=@Model.OneCareVT&public=1" style="min-width: 700px; width: 100%; height: 500px; oveflow: scroll"></iframe>
	</div>
}