﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@using Sitecore.Data.Items
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models;
@using Sitecore.Baptist.Feature.PhysicianDirectory.Templates.Custom;
@model SchedulePhysicianAppointmentDistance

@{
	var parms = RenderingContext.Current.Rendering.Parameters;

	Item lf = Sitecore.Context.Database.GetItem(parms["Physician Profile Base Url"]);
	string resulturl = Sitecore.Links.LinkManager.GetItemUrl(lf);
	//string resulturl = "";	

	int featuredcnt = Model.doctors.Where(x => x.physician.FeaturedProvider == true).Count();
}
<div id="schedule-header-wrapper">
	<div class="component search-box-baptist col-xs-12 tab-search" id="search-scheduling" data-properties="">
		<select name="scheduling-filter-by-specialty" id="filter-by-specialty">
			<option value="">@Translate.Text("Filter by Specialty")</option>
			@{
				var specialties = Model.doctors.Select(x => x.physician.SchedulingSpecialties);
				List<string> specialts = new List<string>();


				foreach(var spec in specialties)
				{
					if(spec != null)
					{
						foreach(string spect in spec.Cast<string>().Select(e => spec[e]))
						{
							specialts.Add(spect.decodeUrl());
						}
						 
					}
				}

				specialts = specialts.Distinct().ToList<string>();
				specialts.Sort();


			}
			@foreach(string specialty in specialts)
			{
				<option value="@specialty" data-specialty-hash-selector="@specialty.toSlug()">@specialty</option>
			}

		</select>
		<form id="physician-scheduling-search" class="component-content">
			<label for="tabSearch-scheduling" class="sr-only">@Translate.Text("Search Scheduling")</label>
			<input id="query-scheduling" type="text" class="search-box-input-baptist has-search-icon" autocomplete="off" id="tabSearch" name="tabSearch" placeholder="Search by Name or City, State or Zip" />
			<button class="search-box-button" type="submit" aria-label="@Translate.Text("Search for doctors")">@Translate.Text("Search")</button>
		</form>
	</div>

	<hr />
	<div class="component breadcrumb col-xs-12 initialized" id="breadcrumbs-scheduling">
		<div class="component-content">
			<nav>
				<ol>
					<li class="breadcrumb-item home">
						<div class="field-navigationtitle"><a title="Home" href="/">@Translate.Text("Home")</a></div>
						<span class="separator">/</span>
					</li>
					<li class="breadcrumb-item">
						<div class="field-navigationtitle"><a title="Find a Doctor" href="/find-a-doctor">@Translate.Text("Find a Doctor")</a></div>
						<span class="separator">/</span>
					</li>
					<li class="breadcrumb-item last">
						<div class="field-navigationtitle"><a title="@Translate.Text("Schedule an Appointment")" href="">@Translate.Text("Schedule an Appointment")</a></div>
					</li>
				</ol>
			</nav>
		</div>
	</div>
</div>
<div class="physician-list col-sm-12 col-md-12" data-search-return-target="true">
	<h1>@Html.Sitecore().Field("H1 Title", RenderingContext.Current.PageContext.Item)</h1>
	<div class="main-content">
		@Html.Sitecore().Field("Content", RenderingContext.Current.PageContext.Item)
	</div>
	<ul class="search-results">
		@foreach(PhysicianWithDistance phys in Model.doctors.Where(x => x.physician.FeaturedProvider))
		{

			PhysicianRenderingModel physician = phys.physician;
			//LocationItemRenderingModel location = PhysicianHelper.getPrimaryLocation(physician);
			//string physicianSpecialties = PhysicianHelper.getPhysicianSpecialties(physician);
			string physicianSpecialties = PhysicianHelper.getPhysicianSchedulingSpecialties(physician);


			<li class="row row-eq-height physician-row searchable non-featured" data-index="@PhysicianHelper.formatPhysicianName(physician).ToLower() @((physician.PrimaryLocation != null && physician.PrimaryLocationName.HasValue()) ? @physician.PrimaryLocationName.ToLower() + " " + @physician.PrimaryLocationCity.ToLower() + " " + @physician.PrimaryLocationState.ToLower() + " " + @physician.PrimaryLocationPostalCode : "" )" data-specialty-filter="@physicianSpecialties.toSlug()" data-featured="@physician.FeaturedProvider.ToString()">
				@{
					string profileurl = "";

					if(physician.ImageImportedPath.HasValue())
					{
						profileurl = physician.ImageImportedPath;
					}
					else
					{
						profileurl = "/Content/images/physician/X-Default-Profile.jpg";
					}

					string physicianName = PhysicianHelper.formatPhysicianName(physician);

				}

				<div class="col-xs-4 col-sm-2 physician-image-column">
					<a href="@resulturl/@physicianName.toSlug()">
						<img src="@profileurl" alt="@physician Headshot" class="img-thumbnail" />
					</a>
				</div>
				<div class="col-xs-8 col-sm-4 details-column clearfix">
					<a href="@resulturl/@physicianName.toSlug()">@physicianName</a><br />
					@physicianSpecialties<br />
					@if(physician.PrimaryLocation != null && physician.PrimaryLocationName.HasValue())
					{
					<p>
						@(physician.PrimaryLocationName)<br />
						@(physician.PrimaryLocationCity), @(physician.PrimaryLocationState) @(physician.PrimaryLocationPostalCode.toPostalFormat())
					</p>
					}

					@if(phys.distance < 99999)
					{
					<b>@(Math.Round(phys.distance, 1).ToString())</b>@:&nbsp; @(Translate.Text("miles away"))
					}
				</div>
				<div class="col-xs-12 col-sm-4 bmg-anc-column">
					<div class="row align-items-center" style="text-align: center;">
						<div class="col col-xs-6 col-sm-12">
							@if(physician.IsBMG && Model.bmglogourl.HasValue())
							{
							<img src="@Model.bmglogourl" alt="BMG Doctor @physicianName" style="max-height: 75px;" />
							}
						</div>
						<div class="col col-xs-6 col-sm-12">
							@if(physician.HideSchedulingWidget == false && physician.OneCareVT.HasValue() && physician.OneCareID.HasValue())
							{
							<a href="@resulturl/@physicianName.toSlug()" class="cta-button" style="margin-top: 0.875rem;">@Translate.Text("Schedule an Appointment")</a>
							}
						</div>
					</div>
				</div>
			</li>
			<div class="row divider searchable non-featured" data-index="@physicianName.ToLower() @((physician.PrimaryLocation != null && physician.PrimaryLocationName.HasValue()) ? @physician.PrimaryLocationName.ToLower() + " " + @physician.PrimaryLocationCity.ToLower() + " " + @physician.PrimaryLocationState.ToLower() + " " + @physician.PrimaryLocationPostalCode : "" )" data-specialty-filter="@physicianSpecialties.toSlug()" data-featured="@physician.FeaturedProvider">&nbsp;</div>
		}
	</ul>	
	<div class="page-load-status" style="display: none;">
		<div class="loader-ellips infinite-scroll-request" style="display: none;">
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
			<span class="loader-ellips__dot"></span>
		</div>
		<p class="infinite-scroll-last" style="display: none;">End of results</p>
		<p class="infinite-scroll-error" style="display: none;">No more pages to load</p>
	</div>
	<a class="pagination__next cta-button show-more" href="/api/sitecore/Physician/SearchPhysicians?q=False&radius=300&listed_providers=True&featured_providers=False&paging=True&rows=12&start=0">@Translate.Text("Show More")</a>

</div>

<style id="physician_scheduling_search_filter"></style>
<style id="physician_scheduling_specialty_filter"></style>

<style>	
	select#filter-by-specialty {
		display: inline-block;
		float: left;
		width: 300px;
		margin-left: -300px;
		margin-right: 1rem;
		border-radius: initial;
		color: #777;
		font-size: 16px;
	}

	input#query-scheduling {
		font-size: 16px;
	}

	button.cta-button.show-more {
		background-color: #2970c2;
		color: #FFFFFF;
		padding: 15px 30px 13px;
		font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
		text-transform: uppercase;
		font-style: normal !important;
		display: inline-block;
		font-size: 15px;
		font-weight: bold;
		text-decoration: none;
	}
	.loader-ellips {
	  font-size: 20px; /* change size here */
	  position: relative;
	  width: 4em;
	  height: 1em;
	  margin: 10px auto;
	}

	.loader-ellips__dot {
	  display: block;
	  width: 1em;
	  height: 1em;
	  border-radius: 0.5em;
	  background: #555; /* change color here */
	  position: absolute;
	  animation-duration: 0.5s;
	  animation-timing-function: ease;
	  animation-iteration-count: infinite;
	}

	.loader-ellips__dot:nth-child(1),
	.loader-ellips__dot:nth-child(2) {
	  left: 0;
	}
	.loader-ellips__dot:nth-child(3) { left: 1.5em; }
	.loader-ellips__dot:nth-child(4) { left: 3em; }

	@@keyframes reveal {
	  from { transform: scale(0.001); }
	  to { transform: scale(1); }
	}

	@@keyframes slide {
	  to { transform: translateX(1.5em) }
	}

	.loader-ellips__dot:nth-child(1) {
	  animation-name: reveal;
	}

	.loader-ellips__dot:nth-child(2),
	.loader-ellips__dot:nth-child(3) {
	  animation-name: slide;
	}

	.loader-ellips__dot:nth-child(4) {
	  animation-name: reveal;
	  animation-direction: reverse;
	}
</style>

@Html.Script(
	@<script src="~/Content/javascript/physician/physician-schedule-search.js"></script>
)