﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Fields;
@using Sitecore.Data.Items;
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models
@model Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models.PhysicianListing

@{

	int totalspecs = Model.Specialties.Count();
	int colcnt = 1;

	var rc = RenderingContext.Current.Rendering;
	var renparams = rc.Parameters;
	Item lf = Sitecore.Context.Database.GetItem(renparams["Specialty Result Page"]);

	string resulturl = Sitecore.Links.LinkManager.GetItemUrl(lf);

	string doctorString = "";
}


	<div class="col-xs-12 col-sm-6 doctor-list-container">
		<ul class="doctor-list">
			@foreach(Specialty specialty in Model.Specialties.OrderBy(x => x.specialtyName))
			{
				if(colcnt <= Math.Round((double)(totalspecs / 2)))
				{
					if (specialty.count == 1)
					{
						doctorString = "Doctor";
					}
					else
					{
						doctorString = "Doctors";
					}
				<li><a href="@resulturl/@specialty.specialtyUrl@((specialty.bmgonly) ? "?bmgonly=1" : "")"><span class="doctor-list-link-text">@specialty.specialtyName</span> <span class="doctor-list-result-count">@specialty.count @Translate.Text(doctorString)</span></a></li>
					colcnt++;
				}
				else
				{
					break;
				}

			}
		</ul>
	</div>
	<div class="col-xs-12 col-sm-6 doctor-list-container">
		<ul class="doctor-list">
			@{ colcnt = 1; }
			@foreach(Specialty specialty in Model.Specialties.OrderBy(x => x.specialtyName))
			{
				if(colcnt > Math.Round((double)(totalspecs / 2)))
				{
					if (specialty.count == 1)
					{
						doctorString = "Doctor";
					}
					else
					{
						doctorString = "Doctors";
					}
				<li><a href="@resulturl/@specialty.specialtyUrl"><span class="doctor-list-link-text">@specialty.specialtyName</span> <span class="doctor-list-result-count">@specialty.count @Translate.Text(doctorString)</span></a></li>
					colcnt++;
				}
				else
				{
					colcnt++;
					continue;
				}

			}
		</ul>
	</div>

	@if(renparams["BMG Only"] == "1")
	{
		<input type="hidden" name="searchbmgonly" value="1" />
	}

	@if(renparams["BCC Only"] == "1")
	{
		<input type="hidden" name="searchbcconly" value="1" />
	}