﻿﻿@using Sitecore.ContentSearch.SearchTypes
@using System.Collections.Specialized
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Xml
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@model Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models.PhysicianSearchResultSet

@{
  string resulturl = "/find-a-doctor";
  Database db = Sitecore.Context.Database;
  TemplateItem template = db.GetTemplate(ID.Parse("{80825E17-F464-4189-8BB5-84EF8B11E8AD}"));

  Item templateSV = template.StandardValues;
  //get bmg logo

  var imageId = XmlUtil.GetAttribute("mediaid", XmlUtil.LoadXml(templateSV.Fields["BMG Doctor Logo"].Value));
  MediaItem imageitem = Sitecore.Context.Database.GetItem(imageId);

  string imageurl = MediaManager.GetMediaUrl(imageitem);
  string bmglogo = imageurl;
}
<div style="margin-top: 2rem;">&nbsp;</div>
<h1>@Translate.Text("Find a Doctor - {0} {1}", Request.QueryString["specialty"].decodeUrl(), Request.QueryString["q"].decodeUrl())</h1>
<div class="physician-list col-sm-12 col-md-12">
  <ul>
    @if(Model.results.Count > 0)
    {

      foreach(var ri in Model.results)
      {


        string physicianName = PhysicianHelper.formatSearchPhysicianName(ri);
        bool scheduleAppt = (ri.Fields.Keys.Contains("onecare_id") && ri.Fields["onecare_id"].ToString().HasValue()) ? true : false;
        //LocationItemRenderingModel location = PhysicianHelper.getPrimaryLocation(physician);

        <li class="row row-eq-height physician-row">
          @{
            string profileurl = "";

            if(ri.Fields.Keys.Contains("image_imported_path") && ri.Fields["image_imported_path"].ToString().HasValue())
            {
              profileurl = ri.Fields["image_imported_path"].ToString();
            }
            else
            {
              profileurl = "/Content/images/physician/X-Default-Profile.jpg";
            }
          }
          <div class="col-xs-4 col-sm-2 physician-image-column">
            <a href="@resulturl/@physicianName.toSlug()">
              <img src="@profileurl" alt="@physicianName Headshot" class="img-thumbnail" />
            </a>
          </div>
          <div class="col-xs-8 col-sm-4 details-column clearfix">
            <a href="@resulturl/@physicianName.toSlug()">@physicianName</a><br />
            @{  NameValueCollection specialties = HttpUtility.ParseQueryString(ri.GetField("specialties").ToString());
              List<string> lspecialties = specialties.Cast<string>().Select(e => HttpUtility.UrlDecode(specialties[e])).ToList<string>();
              string specout = "";
              foreach(string specialty in lspecialties)
              {
                specout += specialty + ", ";
              }
              specout = specout.TrimEnd(' ').TrimEnd(',');
            }
            @specout<br />
            @if(ri.Fields.Keys.Contains("primary_location_name"))
            {
            <p>
              @(ri["primary_location_name"])<br />
              @(ri["primary_location_city"]), @(ri["primary_location_state"]) @((ri.Fields.Keys.Contains("primary_location_postal_code")) ? ((ri["primary_location_postal_code"].Length > 5) ? ri["primary_location_postal_code"].Substring(0, 5) : ri["primary_location_postal_code"]) : "")
            </p>}
          </div>
          <div class="col-xs-12 col-sm-4 bmg-anc-column">
            <div class="row align-items-center" style="text-align: center;">
              <div class="col col-xs-6 col-sm-12">
                @if(bool.Parse(ri["is_bmg_b"]))
                {
                <img src="@bmglogo" alt="BMG Doctor @physicianName" style="max-height: 75px;" />}
              </div>
              <div class="col col-xs-6 col-sm-12">
                @if(scheduleAppt)
                {
                <a href="@resulturl/@physicianName.toSlug()" class="cta-button" style="margin-top: 0.875rem;">@Translate.Text("Schedule an Appointment")</a>}
              </div>
            </div>
          </div>
        </li>
        <div class="row divider">&nbsp;</div>

        }
      }
      else
      {
      <li class="row row-eq-height physician-row">
        <h3>@Html.Raw(Translate.Text("0 provider results found for &ldquo;{0}&rdquo;", Request.QueryString["q"].decodeUrl()))</h3>
      </li>}
  </ul>
</div>


@if(Model.bmgonly)
{
  <input type="hidden" name="searchbmgonly" value="1" />
}

@if(Model.bcconly)
{
  <input type="hidden" name="searchbcconly" value="1" />
}