﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models
@using Sitecore.Baptist.Feature.PhysicianDirectory.Templates.Custom;
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils;
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models;
@using System.Globalization;
@using Sitecore.Data.Items;
@using Sitecore.Data.Fields;
@model Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models.PhysicianListingBySpecialtyCached
@{
	string specialtyname = CultureInfo.InstalledUICulture.TextInfo.ToTitleCase(Model.Specialty);
	var parms = Model.renderingContext.Rendering.Parameters;

	Item lf = Sitecore.Context.Database.GetItem(parms["Physician Profile Base Url"]);
	string resulturl = Sitecore.Links.LinkManager.GetItemUrl(lf);

}
<div class="component breadcrumb col-xs-12 initialized">
	<div class="component-content">
		<nav>
			<ol>
				<li class="breadcrumb-item home">
					<div class="field-navigationtitle"><a title="Home" href="/">@Translate.Text("Home")</a></div>                            <span class="separator">/</span>
				</li>
				<li class="breadcrumb-item">
					<div class="field-navigationtitle"><a title="Find a Doctor" href="/find-a-doctor">@Translate.Text("Find a Doctor")</a></div>                            <span class="separator">/</span>
				</li>
				<li class="breadcrumb-item last">
					<div class="field-navigationtitle"><a title="@specialtyname" href="">@specialtyname</a></div>
				</li>
			</ol>
		</nav>
	</div>
</div>
<div class="component search-box-baptist col-xs-12 tab-search physician-specialty-search" data-properties="">
	<form id="physician-search" class="component-content">
		@if(parms["BMG Only"] == "1")
		{
		<input type="hidden" name="searchbmgonly" value="1" />
		}
		<label for="tabSearch" class="sr-only">@Translate.Text("Search") @specialtyname</label>
		<input id="specialty" name="specialty" type="hidden" value="@specialtyname" />
		<input id="query1" type="text" class="search-box-input-baptist has-search-icon" autocomplete="off" id="tabSearch" name="tabSearch" placeholder="Search by Name, City, or ZIP Code" />
		<button class="search-box-button" type="submit" aria-label="@Translate.Text("Search for doctors")">Search</button>
	</form>
</div>
<div class="physician-list col-sm-12 col-md-12" data-search-return-target="true">
	<h1>@Translate.Text("Find a Doctor - {0}", specialtyname)</h1>
	<ul>
		@foreach(PhysicianListingRow physician in Model.doctors)
		{
			//LocationItemRenderingModel location = PhysicianHelper.getPrimaryLocation(physician);

			<li class="row row-eq-height physician-row searchable" data-index="@physician.PhysicianName.ToLower() @((physician.location != null && physician.location.LocationName.HasValue()) ? @physician.location.LocationName.ToLower() + " " + @physician.location.City.ToLower() + " " + @physician.location.PostalCode : "" )">
				@{
					string profileurl = "";

					if(physician.ImageImportedPath.HasValue())
					{
						profileurl = physician.ImageImportedPath;
					}
					else
					{
						profileurl = "/Content/images/physician/X-Default-Profile.jpg";
					}
				}
				
				<div class="col-xs-4 col-sm-2 physician-image-column">
					<a href="@resulturl/@physician.PhysicianName.toSlug()">
						<img src="@profileurl" alt="@physician.PhysicianName Headshot" class="img-thumbnail" />
					</a>
				</div>
				<div class="col-xs-8 col-sm-4 details-column clearfix">
					<a href="@resulturl/@physician.PhysicianName.toSlug()">@physician.PhysicianName</a><br />
					@physician.specialties<br />
					@if(physician.location != null && physician.location.LocationName.HasValue())
					{
					<p>
						@(physician.location.LocationName)<br />
						@(physician.location.City), @(physician.location.State)
					</p>
					}
				</div>
				<div class="col-xs-12 col-sm-4 bmg-anc-column">
					<div class="row align-items-center" style="text-align: center;">
						<div class="col col-xs-6 col-sm-12">
							@if(physician.IsBMG && Model.bmglogourl.HasValue())
							{
							<img src="@Model.bmglogourl" alt="BMG Doctor @physician.PhysicianName" style="max-height: 75px;" />
							}
						</div>
						<div class="col col-xs-6 col-sm-12">
							@if(physician.ScheduleAppt)
							{
							<a href="@resulturl/@physician.PhysicianName.toSlug()" class="cta-button" style="margin-top: 0.875rem;">@Translate.Text("Schedule an Appointment")</a>
							}
						</div>
					</div>
				</div>				
			</li>
			<div class="row divider searchable" data-index="@physician.PhysicianName.ToLower() @((physician.location != null && physician.location.LocationName.HasValue()) ? @physician.location.LocationName.ToLower() + " " + @physician.location.City.ToLower() + " " + @physician.location.PostalCode : "" )">&nbsp;</div>
					}
	</ul>
</div>

<div class="css-loader">
	<div id="cssload-allthethings">
		<div id="cssload-circle1"></div>
		<div id="cssload-circle2"></div>
		<div id="cssload-circle3"></div>
		<div id="cssload-circle4"></div>
	</div>
</div>

<style id="physician_search_filter"></style>