﻿@using Sitecore.Mvc
@using Sitecore.Web
@using Sitecore.Baptist.Foundation.Common.Extensions
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Extensions
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models
@using System.Text.RegularExpressions
@model Sitecore.Baptist.Feature.PhysicianDirectory.Templates.Custom.PhysicianRenderingModel

@{
	string pattern = @"^<p>(.+?)</p>$";
	string replace = @"$1";
}

<div class="row component column-splitter">
	<div class="component rich-text col-xs-12">
		<div class="component-content">
			@if(Model.Specialties.HasKeys() && Model.Specialties.AKeyHasValue())
			{
			<h2>@Translate.Text("Specializing in {0}", PhysicianHelper.getPhysicianSpecialties(Model))</h2>
			}
			@if(Model.Bio.HasValue())
			{
			@Html.Raw(Model.Bio)
			}
		</div>
	</div>
	<div class="col-xs-12 col-sm-7 doctor-profile-main">
		@if(Model.Education.HasKeys() && Model.Education.AKeyHasValue())
		{
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<h2>@Translate.Text("Education")</h2>
				@if(Model.Education["UnderGrad"].HasValue())
				{
				<h3>@Translate.Text("Undergraduate")</h3>
				<p>@Html.Raw(Model.Education["UnderGrad"].decodeUrl())</p>
				}
				@if(Model.Education["GraduateSchool"].HasValue())
				{
				<h3>@Translate.Text("GraduateSchool")</h3>
				<p>@Html.Raw(Model.Education["GraduateSchool"].decodeUrl())</p>
				}
				@if(Model.Education["MedicalSchool"].HasValue())
				{
				<h3>@Translate.Text("Medical School")</h3>
				<p>@Html.Raw(Model.Education["MedicalSchool"].decodeUrl())</p>
				}
				@if(Model.Education["MedicalSchool"].HasValue())
				{
				<h3>@Translate.Text("Medical School")</h3>
				<p>@Html.Raw(Model.Education["MedicalSchool"].decodeUrl())</p>
				}
				@if(Model.Education["Internship"].HasValue())
				{
				<h3>@Translate.Text("Internship")</h3>
				<p>@Html.Raw(HttpUtility.UrlDecode(Model.Education["Internship"]))</p>
				}
				@if(Model.Education["Residency"].HasValue())
				{
				<h3>@Translate.Text("Residency")</h3>
				<p>@Html.Raw(Model.Education["Residency"].decodeUrl())</p>
				}
				@if(Model.Education["Fellowship"].HasValue())
				{
				<h3>@Translate.Text("Fellowship")</h3>
				<p>@Html.Raw(Model.Education["Fellowship"].decodeUrl())</p>
				}

			</div>
		</div>
		}
		@if(Model.ProfessionalRecognition.HasKeys() && Model.ProfessionalRecognition.AKeyHasValue())
		{
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<h2>@Translate.Text("Awards, Certifications & Memberships")</h2>
				@if(Model.ProfessionalRecognition["AwardsRecognition"].HasValue())
				{
				<h3>@Translate.Text("Awards & Recognition")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["AwardsRecognition"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["MedicalSocieties"].HasValue())
				{
				<h3>@Translate.Text("Medical Societies")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["MedicalSocieties"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["BoardCertifications"].HasValue())
				{
				<h3>@Translate.Text("Board Certifications")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["BoardCertifications"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["MedicalLicensures"].HasValue())
				{
				<h3>@Translate.Text("Medical Licensures")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["MedicalLicensures"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["ProfessionalOrganizations"].HasValue())
				{
				<h3>@Translate.Text("ProfessionalOrganizations")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["ProfessionalOrganizations"].decodeUrl(), pattern, replace))</p>
				}
			</div>
		</div>
		}
		@if(Model.TreatmentsAndServices.HasValue() || Model.DiseasesAndConditions.HasValue() || Model.SpecialtyInterests.HasValue() || Model.Languages.HasValue())
		{
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<h2>@Translate.Text("Medical Career")</h2>
				@if(Model.TreatmentsAndServices.HasValue())
				{
				<h3>@Translate.Text("Treatments And Services Provided")</h3>
				@Html.Raw(Model.TreatmentsAndServices)
				}
				@if(Model.DiseasesAndConditions.HasValue())
				{
				<h3>@Translate.Text("Diseases And Conditions Treated")</h3>
				@Html.Raw(Model.DiseasesAndConditions)
				}
				@if(Model.SpecialtyInterests.HasValue())
				{
				<h3>@Translate.Text("Specialty Interests")</h3>
				@Html.Raw(Model.SpecialtyInterests)
				}
				@if(Model.Languages.HasValue())
				{
				<h3>@Translate.Text("Languages Spoken")</h3>
				@Html.Raw(Model.Languages)
				}
			</div>
		</div>
		}
		@if(Model.MeetTheDoctor.HasKeys() || Model.MeetTheDoctor.AKeyHasValue())
		{
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<h2>@Translate.Text("Meet The Doctor")<a name="meet-the-doctor" id="meet-the-doctor"></a></h2>
				@if(Model.MeetTheDoctor["PatientExpectations"].HasValue())
				{
				<h3>@Translate.Text("What can a patient expect when they have you as a doctor?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["PatientExpectations"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.MeetTheDoctor["ImportantFactor"].HasValue())
				{
				<h3>@Translate.Text("What is the most important factor in a doctor patient relationship and why?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["ImportantFactor"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.MeetTheDoctor["HobbiesActivities"].HasValue())
				{
				<h3>@Translate.Text("What hobbies or activities do you enjoy when you're not working?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["HobbiesActivities"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.MeetTheDoctor["MostRewarding"].HasValue())
				{
				<h3>@Translate.Text("What about your line of work do you find the most rewarding and why?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["MostRewarding"].decodeUrl(), pattern, replace))</p>
				}
			</div>
		</div>
		}
	</div>	
</div>