﻿@using Sitecore.Mvc
@using Sitecore.Web
@using Sitecore.Baptist.Foundation.Common.Extensions
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Extensions
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models
@using System.Text.RegularExpressions
@model Sitecore.Baptist.Feature.PhysicianDirectory.Templates.Custom.PhysicianRenderingModel

@{
	string pattern = @"^<p>(.+?)</p>$";
	string replace = @"$1";
	List<MediaResource> videos = PhysicianHelper.getMeetTheDoctorVideo(Model);
}

<div class="component breadcrumb col-xs-12 initialized">
	<div class="component-content">
		<nav>
			<ol>
				<li class="breadcrumb-item home">
					<div class="field-navigationtitle"><a title="Home" href="/">@Translate.Text("Home")</a></div>  <span class="separator">/</span>
				</li>
				<li class="breadcrumb-item">
					<div class="field-navigationtitle"><a title="Find a Doctor" href="/find-a-doctor">@Translate.Text("Find a Doctor")</a></div>                            <span class="separator">/</span>
				</li>
				<li class="breadcrumb-item last">
					<div class="field-navigationtitle"><a title="@PhysicianHelper.formatPhysicianName(Model)" href="">@PhysicianHelper.formatPhysicianName(Model)</a></div>
				</li>
			</ol>
		</nav>
	</div>
</div>

<!-- #content -->
<div class="component rich-text col-xs-12">
	<div class="component-content">
		<h1>@PhysicianHelper.formatPhysicianName(Model)</h1>
	</div>
</div>

<div class="row component column-splitter">
	<div class="col-xs-3 doctor-profile-intro-left">
		<div class="component image col-xs-12 doctor-profile-image">
			<div class="component-content">
				@if(!string.IsNullOrEmpty(Model.ImageImportedPath))
				{
				<img src="@Model.ImageImportedPath" />
				}
			</div>
		</div>
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				@if((Model.MeetTheDoctor.HasKeys() && Model.MeetTheDoctor.AKeyHasValue()) || videos.Count > 0)
				{
				<p><a href="#meet-the-doctor" id="doctor-intro" name="doctor-intro" class="cta-button-accent" aria-controls="meet-doctor-panel" aria-expanded="false">@Translate.Text("Meet the Doctor")</a></p>
				}
			</div>
		</div>
	</div>
	<div class="col-xs-6 doctor-profile-intro-right">
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				@if(Model.Specialties.HasKeys() && Model.Specialties.AKeyHasValue())
				{
				<h2>@Translate.Text("Specializing in {0}", PhysicianHelper.getPhysicianSpecialties(Model))</h2>
				}
				<div class="phys-bio">
					@if(Model.Bio.HasValue())
					{
					@Html.Raw(Model.Bio)
					}
				</div>
			</div>
		</div>
	</div>
</div>

@if((Model.MeetTheDoctor.HasKeys() && Model.MeetTheDoctor.AKeyHasValue()) || videos.Count > 0)
{
	<div class="row component column-splitter doctor-meet-the-doctor collapsed" aria-hidden="true" id="meet-doctor-panel">
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<a name="meet-the-doctor" id="meet-the-doctor"></a>

				@if(videos.Count > 0)
				{
					foreach(MediaResource video in videos)
					{
						string vidvalue = video.Value;
						if(vidvalue.Contains("playlist"))
						{
							vidvalue = video.Value.Replace("playlist", "embed\\/videoseries");
						}
						if(vidvalue.Contains("watch"))
						{
							if(vidvalue.Contains("list"))
							{
								var match = Regex.Match(vidvalue, "list=(.*)[^&]?");
								vidvalue = String.Format("https://www.youtube.com/embed/videoseries?{0}", match.Groups[0].Value);
							}
							else if(vidvalue.Contains("v="))
							{
								var match = Regex.Match(vidvalue, "v=(.*)[^&]?");
								vidvalue = String.Format("https://www.youtube.com/embed/{0}", match.Groups[0].Value);
							}
						}
						<center><iframe width="560" height="320" src="@vidvalue" frameborder="0" allow="encrypted-media" allowfullscreen></iframe></center>
					}
				}
				<h2>@Translate.Text("Meet The Doctor")</h2>
				@if(Model.MeetTheDoctor["PatientExpectations"].HasValue())
				{
				<h3>@Translate.Text("What can a patient expect when they have you as a doctor?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["PatientExpectations"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.MeetTheDoctor["ImportantFactor"].HasValue())
				{
				<h3>@Translate.Text("What is the most important factor in a doctor patient relationship and why?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["ImportantFactor"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.MeetTheDoctor["HobbiesActivities"].HasValue())
				{
				<h3>@Translate.Text("What hobbies or activities do you enjoy when you're not working?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["HobbiesActivities"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.MeetTheDoctor["MostRewarding"].HasValue())
				{
				<h3>@Translate.Text("What about your line of work do you find the most rewarding and why?")</h3>
				<p>@Html.Raw(Regex.Replace(Model.MeetTheDoctor["MostRewarding"].decodeUrl(), pattern, replace))</p>
				}
				<center><a href="#doctor-intro" id="close-meet-the-doctor" aria-controls="meet-doctor-panel" aria-expanded="false">Close</a></center>
			</div>
		</div>
	</div>
}

<div class="row component column-splitter">
	<div class="col-xs-12 col-sm-7 doctor-profile-main">
		@if(Model.Education.HasKeys() && Model.Education.AKeyHasValue())
		{
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<h2>@Translate.Text("Education")</h2>
				@if(Model.Education["UnderGrad"].HasValue())
				{
				<h3>@Translate.Text("Undergraduate")</h3>
				<p>@Html.Raw(Model.Education["UnderGrad"].decodeUrl())</p>
				}
				@if(Model.Education["GraduateSchool"].HasValue())
				{
				<h3>@Translate.Text("Graduate School")</h3>
				<p>@Html.Raw(Model.Education["GraduateSchool"].decodeUrl())</p>
				}
				@if(Model.Education["MedicalSchool"].HasValue())
				{
				<h3>@Translate.Text("Medical School")</h3>
				<p>@Html.Raw(Model.Education["MedicalSchool"].decodeUrl())</p>
				}
				@if(Model.Education["Internship"].HasValue())
				{
				<h3>@Translate.Text("Internship")</h3>
				<p>@Html.Raw(HttpUtility.UrlDecode(Model.Education["Internship"]))</p>
				}
				@if(Model.Education["Residency"].HasValue())
				{
				<h3>@Translate.Text("Residency")</h3>
				<p>@Html.Raw(Model.Education["Residency"].decodeUrl())</p>
				}
				@if(Model.Education["Fellowship"].HasValue())
				{
				<h3>@Translate.Text("Fellowship")</h3>
				<p>@Html.Raw(Model.Education["Fellowship"].decodeUrl())</p>
				}

			</div>
		</div>
		}
		@if(Model.ProfessionalRecognition.HasKeys() && Model.ProfessionalRecognition.AKeyHasValue())
		{
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<h2>@Translate.Text("Awards, Certifications & Memberships")</h2>
				@if(Model.ProfessionalRecognition["AwardsRecognition"].HasValue())
				{
				<h3>@Translate.Text("Awards & Recognition")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["AwardsRecognition"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["MedicalSocieties"].HasValue())
				{
				<h3>@Translate.Text("Medical Societies")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["MedicalSocieties"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["BoardCertifications"].HasValue())
				{
				<h3>@Translate.Text("Board Certifications")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["BoardCertifications"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["MedicalLicensures"].HasValue())
				{
				<h3>@Translate.Text("Medical Licensures")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["MedicalLicensures"].decodeUrl(), pattern, replace))</p>
				}
				@if(Model.ProfessionalRecognition["ProfessionalOrganizations"].HasValue())
				{
				<h3>@Translate.Text("Professional Organizations")</h3>
				<p>@Html.Raw(Regex.Replace(Model.ProfessionalRecognition["ProfessionalOrganizations"].decodeUrl(), pattern, replace))</p>
				}
			</div>
		</div>
		}
		@if(Model.TreatmentsAndServices.HasValue() || Model.DiseasesAndConditions.HasValue() || Model.SpecialtyInterests.HasValue() || Model.Languages.HasValue())
		{
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<h2>@Translate.Text("Medical Career")</h2>
				@if(Model.TreatmentsAndServices.HasValue())
				{
				<h3>@Translate.Text("Treatments And Services Provided")</h3>
				@Html.Raw(Model.TreatmentsAndServices)
				}
				@if(Model.DiseasesAndConditions.HasValue())
				{
				<h3>@Translate.Text("Diseases And Conditions Treated")</h3>
				@Html.Raw(Model.DiseasesAndConditions)
				}
				@if(Model.SpecialtyInterests.HasValue())
				{
				<h3>@Translate.Text("Specialty Interests")</h3>
				@Html.Raw(Model.SpecialtyInterests)
				}
				@if(Model.Languages.HasValue())
				{
				<h3>@Translate.Text("Languages Spoken")</h3>
				<div class="p-font-fix">@Html.Raw(Model.Languages)</div>
				}
			</div>
		</div>
		}

	</div>
	@{
		PhysicianLocation primary = PhysicianHelper.getPrimaryLocation(Model);

		List<PhysicianLocation> otherlocations = PhysicianHelper.getPhysicianLocations(Model);

	}
	<div class="col-xs-12 col-sm-5 aside">
		@if(primary != null && primary.LocationName.HasValue())
		{
			string locurl = primary.getPhysicianLocationUrl(databaseName: Sitecore.Context.Database.Name);
			string locnameaddr = primary.LocationName + " " + primary.Address1 + " " + primary.City + " " + primary.State + " " + primary.PostalCode.toPostalFormat(true);
			//string locaddrurl = primary.Address1.Replace(" ", "+") + "%2C" + primary.City.Replace(" ", "+") + "%2C" + primary.State + "+" + primary.PostalCode.toPostalFormat(true);
			string locaddrurl = HttpUtility.UrlEncode(primary.Address1.Replace("'", "") + "," + primary.City + "," + primary.State + " " + primary.PostalCode.Substring(0, 5));

			//string mapurl = string.Format("https://www.google.com/maps/place/{0}/&64;{1},{2},17z", locnameaddr, primary.Latitude, primary.Longitude);
			string mapurl = string.Format("https://www.google.com/maps/place/{0}", locaddrurl);

			string iframelocurl = string.Format("https://www.google.com/maps/embed/v1/place?key=AIzaSyDEnRKFd3wvn2deWnClojgqd2fcePl-Ujk&q={0}", locaddrurl);

			<div class="component plain-html col-xs-12 doctor-profile-primary-location">
				<div class="component-content">
					<h4>@Translate.Text("Primary Location")</h4>
					<div class="doctor-profile-primary-location-content">
						<div class="doctor-profile-primary-location-text">
							<h5>@primary.LocationName</h5>
							<p>
								@primary.Address1<br />
								@if(primary.Address2.HasValue())
								{
								@primary.Address2<br />
								}
								@primary.City, @primary.State @primary.PostalCode.toPostalFormat(true)<br>
								<a href="tel:@primary.MainPhoneNumber" class="phone-main">@primary.MainPhoneNumber.toUsPhoneNumber()</a><br />
								<a href="@mapurl" class="cta-button-accent">Directions</a>
							</p>
						</div>
						<div class="doctor-profile-primary-location-map embed-only" data-clientid="@primary.ClientID" data-mapid="location-listing-mapid" onclick="window.open('@mapurl'); return false;" aria-label="@Translate.Text("Open in Google Maps")">
							<input type="hidden" name="location-name" value="@locaddrurl" />
							<input type="hidden" name="location-lat" value="@primary.Latitude" />
							<input type="hidden" name="location-lng" value="@primary.Longitude" />
							<!--div id="location-listing-mapid" style="width: 100%; height: 100%;"></!--div-->
							<iframe src="@iframelocurl" style="width: 100%; height: 100%;" frameborder="0" border="0"></iframe>
						</div>
					</div>
				</div>
			</div>
		}

		@if(primary != null && otherlocations != null && otherlocations.Count() > 0 && otherlocations.Where(x => x.ClientID != primary.ClientID).Count() > 0)
		{
		<div class="component rich-text col-xs-12 doctor-profile-other-headings">
			<div class="component-content">
				<h4>@Translate.Text("Other Locations")</h4>
			</div>
		</div>
		<div class="component container col-xs-12 doctor-profile-other-locations">
			<div class="component-content">
				@foreach(PhysicianLocation otherloc in otherlocations.Where(x => x.ClientID != primary.ClientID))
				{
					string locurl = otherloc.getOtherLocationUrl(databaseName: Sitecore.Context.Database.Name);
					<div class="component rich-text col-xs-12" style="cursor: pointer;" onclick="window.location = '@locurl';">
						<div class="component-content">
							<h5><a href="@locurl">@Html.Raw(otherloc.LocationName)</a></h5>
							<p>
								@otherloc.Address1<br />
								@if(otherloc.Address2.HasValue())
								{
								@otherloc.Address2<br />
								}
								@otherloc.City, @otherloc.State @otherloc.PostalCode.toPostalFormat(true)<br />
								@otherloc.MainPhoneNumber.toUsPhoneNumber()<br />
							</p>
						</div>
					</div>
				}
			</div>
		</div>
		}

		@if(Model.HospitalAffiliations.HasKeys() && Model.HospitalAffiliations.AKeyHasValue())
		{
			PhysicianUtils pu = new PhysicianUtils();
			List<PhysicianLocation> physlocs = pu.getDescendantPhysicianLocations();
			<div class="component rich-text col-xs-12 doctor-profile-other-headings">
				<div class="component-content">
					<h4>@Translate.Text("Hospital Affiliations")</h4>
				</div>
			</div>
			<div class="component container col-xs-12 doctor-profile-other-locations">
				<div class="component-content">
					@foreach(string value in Model.HospitalAffiliations.getCollectionValues())
					{
						PhysicianLocation otherloc = null;

						List<PhysicianLocation> potentiallocs = physlocs.Where(x => x.LocationType == "Hospital").Where(x => x.LocationName == value).ToList<PhysicianLocation>();

						if(potentiallocs.Count() > 0)
						{
							otherloc = potentiallocs.First();
						}
						<div class="component rich-text col-xs-12">

							@if(otherloc != null)
							{
								string locurl = otherloc.getPhysicianLocationUrl(databaseName: Sitecore.Context.Database.Name);
								<div class="component-content" style="cursor: pointer;" onclick="window.location = '@locurl';">
									<h5><a href="@locurl">@Html.Raw(otherloc.LocationName)</a></h5>
									<p>
										@otherloc.Address1<br />
										@if(otherloc.Address2.HasValue())
										{
										@otherloc.Address2<br />
										}
										@otherloc.City, @otherloc.State @otherloc.PostalCode.toPostalFormat(true)<br />
										@otherloc.MainPhoneNumber.toUsPhoneNumber()<br />
									</p>
								</div>
							}
							else
							{
							<div class="component-content">
								<h5>@Html.Raw(value.decodeUrl())</h5>
							</div>
							}
						</div>
					}
				</div>
			</div>
		}

		@{ Html.RenderPartial("~/Areas/Feature_PhysicianDirectory/Views/Physician/OneCareOnlineScheduleWidget.cshtml", Model); }

	</div>
</div>
<!-- /#content -->
@{
/*<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEnRKFd3wvn2deWnClojgqd2fcePl-Ujk" async></script>*/
}

@Html.Script(
	@<script>
		$(function () {
			if ($('#doctor-intro').length > 0) {

				$('#doctor-intro, #close-meet-the-doctor').click(function (e) {
					e.preventDefault();

					$('div.doctor-meet-the-doctor').toggleClass('collapsed').attr('aria-hidden', function (i, attr) {
						return attr == 'true' ? 'false' : 'true'
					});

					$('#doctor-intro, #close-meet-the-doctor').attr('aria-expanded', function (i, attr) {
						return attr == 'true' ? 'false' : 'true'
					});
				});
			}
		});
	</script>
)