﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@using Sitecore.Data.Items
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models;
@using Sitecore.Baptist.Feature.PhysicianDirectory.Templates.Custom;
@model SchedulePhysicianAppointmentDistanceQuery

@{
	//var parms = RenderingContext.Current.Rendering.Parameters;

	string resulturl = "/find-a-doctor";
	//string resulturl = "";

	int featuredcnt = Model.doctors.Where(x => x.physician.FeaturedProvider == true).Count();
}

@foreach(PhysicianWithDistance phys in Model.doctors)
{

	PhysicianRenderingModel physician = phys.physician;
	//LocationItemRenderingModel location = PhysicianHelper.getPrimaryLocation(physician);
	//string physicianSpecialties = PhysicianHelper.getPhysicianSpecialties(physician);
	string physicianSpecialties = PhysicianHelper.getPhysicianSchedulingSpecialties(physician);


	<li class="row row-eq-height physician-row searchable non-featured" data-index="@PhysicianHelper.formatPhysicianName(physician).ToLower() @((physician.PrimaryLocation != null && physician.PrimaryLocationName.HasValue()) ? @physician.PrimaryLocationName.ToLower() + " " + @physician.PrimaryLocationCity.ToLower() + " " + @physician.PrimaryLocationState.ToLower() + " " + @physician.PrimaryLocationPostalCode : "" )" data-specialty-filter="@physicianSpecialties.toSlug()" data-featured="@physician.FeaturedProvider.ToString()">
		@{
			string profileurl = "";

			if(physician.ImageImportedPath.HasValue())
			{
				profileurl = physician.ImageImportedPath;
			}
			else
			{
				profileurl = "/Content/images/physician/X-Default-Profile.jpg";
			}

			string physicianName = PhysicianHelper.formatPhysicianName(physician);

		}

		<div class="col-xs-4 col-sm-2 physician-image-column">
			<a href="@resulturl/@physicianName.toSlug()">
				<img src="@profileurl" alt="@physician Headshot" class="img-thumbnail" />
			</a>
		</div>
		<div class="col-xs-8 col-sm-4 details-column clearfix">
			<a href="@resulturl/@physicianName.toSlug()">@physicianName</a><br />
			@physicianSpecialties<br />
			@if(physician.PrimaryLocation != null && physician.PrimaryLocationName.HasValue())
			{
			<p>
				@(physician.PrimaryLocationName)<br />
				@(physician.PrimaryLocationCity), @(physician.PrimaryLocationState) @(physician.PrimaryLocationPostalCode.toPostalFormat())
			</p>
			}

			@if(phys.distance < 99999)
			{
			<b>@(Math.Round(phys.distance, 1).ToString())</b>@:&nbsp; @(Translate.Text("miles away"))
				}
		</div>
		<div class="col-xs-12 col-sm-4 bmg-anc-column">
			<div class="row align-items-center" style="text-align: center;">
				<div class="col col-xs-6 col-sm-12">
					@if(physician.IsBMG && Model.bmglogourl.HasValue())
					{
					<img src="@Model.bmglogourl" alt="BMG Doctor @physicianName" style="max-height: 75px;" />
					}
				</div>
				<div class="col col-xs-6 col-sm-12">
					@if(physician.HideSchedulingWidget == false && physician.OneCareVT.HasValue() && physician.OneCareID.HasValue())
					{
					<a href="@resulturl/@physicianName.toSlug()" class="cta-button" style="margin-top: 0.875rem;">@Translate.Text("Schedule an Appointment")</a>
					}
				</div>
			</div>
		</div>

	</li>
	<div class="row divider searchable non-featured" data-index="@physicianName.ToLower() @((physician.PrimaryLocation != null && physician.PrimaryLocationName.HasValue()) ? @physician.PrimaryLocationName.ToLower() + " " + @physician.PrimaryLocationCity.ToLower() + " " + @physician.PrimaryLocationState.ToLower() + " " + @physician.PrimaryLocationPostalCode : "" )" data-specialty-filter="@physicianSpecialties.toSlug()" data-featured="@physician.FeaturedProvider">&nbsp;</div>
}
@{
	Dictionary<string, string> prms = Model.parameters;
	string nextLinkParams = string.Format("q={0}&radius={1}&listed_providers={2}&featured_providers={3}&paging={4}&rows={5}&start={6}&sitescopeonly={7}&scheduling_specialties={8}&bmgonly={9}&bcconly={10}&rowmarkup=True", prms["q"], prms["radius"], prms["listed_providers"], prms["featured_providers"], prms["paging"], prms["rows"], prms["next_start"], prms["sitescopeonly"], prms["scheduling_specialties"], Model.bmgonly, Model.bcconly);
}
@if(Model.doctors.Count > 0)
{
	<a href="/api/sitecore/Physician/ProviderSearch?@nextLinkParams" class="cta-button show-more pagination__next">Show More</a>
}
<input type="hidden" id="total_results" value="@prms["total_results"]" />
<input type="hidden" id="rows" value="@prms["rows"]" />
