﻿﻿@using Sitecore.ContentSearch.SearchTypes
@using System.Collections.Specialized
@using Sitecore.Resources.Media
@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Xml
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@model Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models.SchedulePhysicianAppointmentDistanceQuery

@{
	string resulturl = "/find-a-doctor";
	Database db = Sitecore.Context.Database;
	TemplateItem template = db.GetTemplate(ID.Parse("{80825E17-F464-4189-8BB5-84EF8B11E8AD}"));

	Item templateSV = template.StandardValues;
	//get bmg logo

	var imageId = XmlUtil.GetAttribute("mediaid", XmlUtil.LoadXml(templateSV.Fields["BMG Doctor Logo"].Value));
	MediaItem imageitem = Sitecore.Context.Database.GetItem(imageId);

	string imageurl = MediaManager.GetMediaUrl(imageitem);
	string bmglogo = imageurl;
	int filtershown = 5;
}
@Html.Partial("~/Areas/Feature_PhysicianDirectory/Physician/ProviderSearchBox.cshtml", Model.parameters)
<div style="margin-top: 2rem;">&nbsp;</div>
<input type="hidden" name="filtershown" value="@filtershown" />
<div class="physician-filter col-sm-3 col-md-3 aff">
	<div class="row">
		<div class="col-sm-12">
			<h3>Refine your search:</h3>
		</div>
	</div>
	<div class="row search-filter" data-filter="specialty">
		<div class="col-sm-12">
			<h4>Specialty:</h4>
			<ul data-type="specialty">
				@{
					List<string> fspecialties = new List<string>();

					foreach(var doctor in Model.doctors)
					{				
						NameValueCollection nvcspecialties = doctor.physician.Specialties;
						fspecialties.AddRange(nvcspecialties.Cast<string>().Select(e => HttpUtility.UrlDecode(nvcspecialties[e])).ToList<string>());
					}

					fspecialties = fspecialties.Distinct().OrderBy(x => x).ToList();
				}
				@for(int i = 0; i < fspecialties.Count; i++)
				{
				<li@((i > filtershown -1) ? " class=hidden" : "")>
					<label><input name="specialty[]" type="checkbox" value="specialty" />&nbsp;@fspecialties[i]</label></li>
				}
		</ul>
		<a href="#ExpandSpecialties" data-toggle data-target="specialty" aria-expanded="false">Expand specialties</a>
	</div>
</div>
<div class="row search-filter" data-filter="facility">
	<div class="col-sm-12">
		<h4>Facility:</h4>
		<ul class="filter" data-type="specialty">
			@{
				List<string> facilities = new List<string>();
			}
			<li>
				<input type="checkbox" value="" />&nbsp;Wolfchase Honda
			</li>
			<li>
				<input type="checkbox" value="" />&nbsp;Voodoo Village
			</li>
			<li>
				<input type="checkbox" value="" />&nbsp;Electric Cowboi
			</li>
			<li class="hidden">
				<input type="checkbox" value="" />&nbsp;Capitale Grolle
			</li>
			<li class="hidden">
				<input type="checkbox" value="" />&nbsp;Bob Evans
			</li>
		</ul>
		<a href="#ExpandSpecialties">Expand facilities</a>
	</div>
</div>
</div>
<div class="physician-list col-sm-9 col-md-9">
	<ul>
		@if(Model.doctors.Count > 0)
		{

			foreach(var ri in Model.doctors)
			{


				string physicianName = PhysicianHelper.formatPhysicianName(ri.physician);
				bool scheduleAppt = (ri.physician.OneCareID.HasValue()) ? true : false;
				//LocationItemRenderingModel location = PhysicianHelper.getPrimaryLocation(physician);

				<li class="row row-eq-height physician-row">

					<div class="details-column clearfix">
						<a href="@resulturl/@physicianName.toSlug()" class="phys-name">@physicianName</a><br />
						@{	NameValueCollection specialties = ri.physician.Specialties;
							List<string> lspecialties = specialties.Cast<string>().Select(e => HttpUtility.UrlDecode(specialties[e])).ToList<string>();
							string specout = "";
							foreach(string specialty in lspecialties)
							{
								specout += specialty + ", ";
							}
							specout = specout.TrimEnd(' ').TrimEnd(',');
						}
						<p class="specialty">@specout</p>
						@if(ri.physician.PrimaryLocationName.HasValue())
						{
						<p class="location-address">
							@(ri.physician.PrimaryLocationName)<br />
							@(ri.physician.PrimaryLocationCity), @(ri.physician.PrimaryLocationState)	@((ri.physician.PrimaryLocationPostalCode.HasValue()) ? ((ri.physician.PrimaryLocationPostalCode.Length > 5) ? ri.physician.PrimaryLocationPostalCode.Substring(0, 5) : ri.physician.PrimaryLocationPostalCode) : "")
						</p>}

						@if(scheduleAppt)
						{
						<p class="cta-button mobile">
							<a href="@resulturl/@physicianName.toSlug()" class="cta-button mobile" style="margin-top: 0.875rem;">@Translate.Text("Schedule an Appointment")</a>
						</p>
						}
					</div>
					<div class="bmg-anc-column">
						<div class="row align-items-center" style="text-align: center;">
							<div class="col col-xs-6 col-sm-12 bmg-icon-holder">
								@if(ri.physician.IsBMG)
								{
								<img src="@bmglogo" alt="BMG Doctor @physicianName" style="max-height: 75px;" />}
							</div>
							<div class="col col-xs-6 col-sm-12 cta-button-holder">
								@if(scheduleAppt)
								{
								<a href="@resulturl/@physicianName.toSlug()" class="cta-button" style="margin-top: 0.875rem;">@Translate.Text("Schedule an Appointment")</a>}
							</div>
						</div>
					</div>
					@{
						string profileurl = "";

						if(ri.physician.ImageImportedPath.HasValue())
						{
							profileurl = ri.physician.ImageImportedPath.ToString();
						}
						else
						{
							profileurl = "/Content/images/physician/X-Default-Profile.jpg";
						}
					}
					<div class="physician-image-column">
						<a href="@resulturl/@physicianName.toSlug()">
							<img src="@profileurl" alt="@physicianName Headshot" class="img-thumbnail" />
						</a>
					</div>
				</li>
				<div class="row divider">&nbsp;</div>
			}
		}
		else
		{
		<li class="row row-eq-height physician-row">
			<h3>@Html.Raw(Translate.Text("0 provider results found for &ldquo;{0}&rdquo;", Request.QueryString["q"].decodeUrl()))</h3>
		</li>
		}
	</ul>
</div>

@{
	Dictionary<string, string> prms = Model.parameters;
	string nextLinkParams = string.Format("q={0}&radius={1}&listed_providers={2}&featured_providers={3}&paging={4}&rows={5}&start={6}&sitescopeonly={7}&scheduling_specialties={8}&bmgonly={9}&bcconly={10}&rowmarkup=True", prms["q"], prms["radius"], prms["listed_providers"], prms["featured_providers"], prms["paging"], prms["rows"], prms["next_start"], prms["sitescopeonly"], prms["scheduling_specialties"], Model.bmgonly, Model.bcconly);
}
@if(Model.doctors.Count > 0)
{
	<a href="/api/sitecore/Physician/ProviderSearch?@nextLinkParams" class="cta-button show-more pagination__next">Show More</a>
}
<input type="hidden" id="total_results" value="@prms["total_results"]" />
<input type="hidden" id="rows" value="@prms["rows"]" />

@if(Model.bmgonly)
{
	<input type="hidden" name="searchbmgonly" value="1" />
}

@if(Model.bcconly)
{
	<input type="hidden" name="searchbcconly" value="1" />
}
