﻿@model Dictionary<string,string>
<div class="search-box-baptist colx-xs-12 tab-search">
	<form id="physician-search" class="component-content">
		<label for="tabSearch" class="sr-only">Showing Results For:</label>
		<select name="searchradius">
			@{
				string[] radii = new string[] { "25", "50", "100", "200", "300", "500" };
			}
			@foreach(string radval in radii)
			{
			<option value="@radval" @(( Model.Keys.Contains("radius") && radval == Model["radius"]) ? " selected=\"selected\"" : "")>@radval mi</option>
			}
		</select>
		<input type="query1" name="tabSearch" class="search-box-input-baptist has-search-icon" autocomplete="off" value="@( Model.Keys.Contains("q") ? Model["q"] : "")" placeholder="Name, Specialty, City, or ZIP Code" />
		<button class="search-box-button" type="submit" aria-label="Search for doctors">Search</button>
	</form>
</div>
