﻿@using Sitecore.Text
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
@using Sitecore.Data.Fields
@using MoreLinq
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
<div class="cancer-listing">
	<div class="component rich-text col-xs-12 specialties-h2-container">
		<div class="component-content">

			<h2>@Translate.Text("All Cancers We Treat")</h2>
		</div>
	</div>
	@{
		Sitecore.Data.Database db = RenderingContext.Current.Rendering.Item.Database;

		Sitecore.Data.Items.Item dsitem = db.GetItem(RenderingContext.Current.Rendering.DataSource);
		var locations = dsitem.Children.Where(x => x.TemplateName == "Location Item" || x.TemplateName == "Hospital Item").Select(x => x.Fields["Cancer Types Json"]);

		List<ServiceTerm> terms = new List<ServiceTerm>();
		foreach(Field servicesjson in locations)
		{
			if(servicesjson.Value.HasValue())
			{
				JObject dsservices = (JObject)JsonConvert.DeserializeObject(servicesjson.Value);
				terms.AddRange(JsonConvert.DeserializeObject<List<ServiceTerm>>(JsonConvert.SerializeObject(dsservices["Term"])));
			}
		}
		List<ServiceTerm> dterms = terms.OrderByDescending(x => x.TermUrl).DistinctBy(x => x.TermName).OrderBy(x => x.TermName).ToList<ServiceTerm>();
		int chunksize = (int)Math.Ceiling(((decimal)dterms.Count / 3));
		List<List<ServiceTerm>> chunkterms = new List<List<ServiceTerm>>();

		for(int i = 0; i < dterms.Count(); i += chunksize)
		{
			chunkterms.Add(dterms.Skip(i).Take(chunksize).ToList<ServiceTerm>());
		}
	}


	<div class="component navigation navigation-title col-xs-12 navigation-fat initialized">
		<div class="component-content">
			<nav>
				@foreach(List<ServiceTerm> termlist in chunkterms)
				{
				<ul class="clearfix">
					@foreach(ServiceTerm term in termlist)
					{
					<li>
						@if(term.TermUrl.HasValue())
						{
						<a title="@term.TermName" href="@term.TermUrl">@term.TermName</a>
						}
						else
						{
						@term.TermName
						}
					</li>
					}
				</ul>
				}
			</nav>
		</div>
	</div>
</div>
