﻿@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Web
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Models
@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Globalization
@using Sitecore.Baptist.Feature.PhysicianDirectory.Templates.Custom
@using Sitecore.Sites

@using Sitecore.Baptist.Feature.PhysicianDirectory.Areas.Feature_PhysicianDirectory.Utils
@using Sitecore.Mvc.Presentation
@using Sitecore.XA.Foundation.Multisite;
@using Sitecore.Data.Items;
@using Sitecore.Data;
@using System.Web.Optimization
@using Sitecore.Links

@model Sitecore.Mvc.Presentation.RenderingModel

@{
	AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
	string siteName = Sitecore.Context.Site.Name;
	string googleSiteID = "";
	if(siteName == "United States-2") //Baptist online
	{
		googleSiteID = "NTLWDVV";
	}
	else if(siteName == "United States") //Cancer center
	{
		googleSiteID = "PRQ8VQD";
	}
	else if(siteName == "United States-1") //Medical group
	{
		googleSiteID = "NCRKM7X";
	}

	try
	{
		Sitecore.Data.Database db = Sitecore.Data.Database.GetDatabase(Sitecore.Context.Database.Name);
		string spath = Sitecore.Context.Site.RootPath + "/Settings";
		Sitecore.Data.Items.Item ssettings = db.GetItem(spath);

		googleSiteID = ssettings["GTM ID"];

	}
	catch(Exception ex)
	{
	}

	string rawurl = Sitecore.Context.RawUrl;
	string physician = rawurl.poplast();
	var rc = RenderingContext.CurrentOrNull;

	PhysicianUtils phyutil = new PhysicianUtils();
	phyutil.req = Request;
	phyutil.respnse = Response;

	PhysicianRenderingModel prm = phyutil.getPhysicianByUrl(physician);

	if(prm == null)
	{

		MultisiteContext msc = new MultisiteContext();

		Item si = msc.GetSettingsItem(Model.Item);

		ID errfield = ID.Parse("{96E5E297-6FD1-46D6-8E92-B03E33A9376C}");

		Item errPage = Sitecore.Context.Database.GetItem(si[errfield]);

		//If 404 page not set in SXA throw Server 404
		if(errPage == null) {
			Response.TrySkipIisCustomErrors = true;
			Response.StatusCode = 404;
			Response.End();
		}

		UrlOptions urloptions = new UrlOptions();
		urloptions.LanguageEmbedding = LanguageEmbedding.Never;
		urloptions.SiteResolving = true;
		urloptions.AlwaysIncludeServerUrl = true;

		var errUrl = LinkManager.GetItemUrl(errPage, urloptions);

		HttpWebRequest hrquest = (HttpWebRequest)WebRequest.Create(errUrl);

		//Curl 404 and override response code
		using(HttpWebResponse response = hrquest.GetResponse() as HttpWebResponse)
		{
			StreamReader readStream = new StreamReader(response.GetResponseStream());
			string rspns = readStream.ReadToEnd();
			WriteLiteral(rspns);
			Response.TrySkipIisCustomErrors = true;
			Response.StatusCode = 404;
			//Response.End();
			return;
		}


	}
}
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>

	@{
		string metadescription = Translate.Text("{0} Specializing in {1}", PhysicianHelper.formatPhysicianName(prm), PhysicianHelper.getPhysicianSpecialties(prm));
		string metatitle = Translate.Text("Physician Profile for {0}", PhysicianHelper.formatPhysicianName(prm));
	}

	<meta name="description" content="@metadescription" />
	<title>@metatitle</title>
	
	<meta content="@metatitle" property="og:title" />
	<meta content="@Request.Url" property="og:url" />
	<meta content="@metatitle" property="twitter:title" />
	<meta content="summary_large_image" property="twitter:card" />
	
	@Html.Sxa().Placeholder("head")

	@foreach(string style in assetLinks.Styles)
	{
	@Html.Raw(style)
	}
	<!-- Google Tag Manager -->
	<script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-@googleSiteID');</script>
	<!-- End Google Tag Manager -->
</head>
<body @Html.Sxa().Body().Decorate()>
	<!-- Google Tag Manager (noscript) -->
	<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-@googleSiteID" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
	<!-- End Google Tag Manager (noscript) -->
	@Html.Sitecore().Placeholder("body-top")
	@Html.Sxa().GridBody()

	@Html.Sitecore().Placeholder("body-bottom")
	@foreach(string script in assetLinks.Scripts)
	{
	@Html.Raw(script)
	}
	<!-- /#wrapper -->
	
	@Scripts.Render("~/Content/js/opticombined")

	@Html.RenderScripts()

</body>
</html>