﻿@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using System.Text.RegularExpressions

@model Sitecore.XA.Feature.Composites.Models.TabsRenderingModel

@{
	var headerBaseKey = "section-title";
	int cnt = 1;

}

@foreach(var composite in Model.CompositeItems)
{
	Regex rgx = new Regex("[^a-z]");
	string tabid = rgx.Replace(composite.Value.Name.ToLower(), "");
	string active = (cnt == 1) ? " active" : "";
	var headerKey = string.Format("{0}-{1}-{2}", headerBaseKey, composite.Key, Model.Id);
	<li role="presentation" class="@active">
		<a href="#@tabid" aria-controls="@headerKey" data-toggle="tab" role="tab">
			@using(Html.Sxa().BeginEditFrame(composite.Value.ID.ToString(), "Tabs", Model.IsControlEditable))
			{
			@Html.Sitecore().Placeholder(headerKey)
			}
		</a>
	</li>
	cnt++;
}
