﻿@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationItemRenderingModel

<div @Html.Sxa().Component("locationItem", Model.Attributes)>
	<div class="component-content">
		@Model.MessageIsEmpty
		<div>
			<h1> @Html.Sitecore().Field("Name", Model.GetRenderingWebEditingParams())</h1>
		</div>
	</div>
</div>

