﻿@using Sitecore.Baptist.Foundation.Common.Utils
@model Rendering

<form class="location-form">
	<p>@Translate.Text("Enter City & State, or Zip Code"):</p>
	<input type="hidden" value="@Model.DataSource" name="dsiID" />
	<input type="hidden" value="@Model.UniqueId" name="unqID" />
	@if(Model.Parameters["BMG Only"] == "1")
	{
	<input type="hidden" value="true" name="bmgonly" />
	}
	@if(Model.Parameters["OMW HMP Scheduling Only"] == "1")
	{
	<input type="hidden" value="true" name="scheduling_only" />
	}
	<input type="text" id="zip" name="query" placeholder="38017" aria-label="@Translate.Text("Zip code or city and state")" /><button class="formlocationsubmit" type="button" value="search" aria-label="@Translate.Text("Search locations")">@Translate.Text("Search")</button>
	<br /><button type="button" data-context="change-location" rel="gps-change-location-listing">Use GPS</button>
</form>
<a href="#" class="location-button" rel="set-geo" aria-label="Change Location">@Translate.Text("Change Location")</a>