﻿@using Sitecore.XA.Foundation.Mvc
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Configuration
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Repositories
@using Sitecore.Globalization
@using Sitecore.Baptist.Foundation.Common.Utils
@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationListingSearch

@{

	//return;
	var rc = RenderingContext.Current.Rendering;
	var parms = rc.Parameters;
	//WriteLiteral(parms["Search radius"].GetType());
	//return;

	int radius = Model.radius;

	List<LocationWithDistanceSearch> radiuslocations = new List<LocationWithDistanceSearch>();

	/*foreach(var item in Model.locations)
	{

		if(item.distance > radius)
		{
			break;
		}
		else
		{
			radiuslocations.Add(item);
		}
	}

	int radiuscount = radiuslocations.Count();*/
	int radiuscount = Model.locations.Count;
	radiuslocations = Model.locations;
	LocationWithDistanceSearch l1 = radiuslocations.FirstOrDefault();
}

@{
	string locurl = "/locations/";
}

<div data-rendering-id="@rc.DataSource" data-location-radius="@radius" data-location-type="Clinic" class="location-list col-sm-12 col-md-7">
	@{
		string resulttext;
		if(l1 == null)
		{
			resulttext = Translate.Text("There are 0 locations near you.");
		}
		else
		{
			//resulttext = Translate.Text("There are {0} {1}{2} near you.", string.Format(@"<span class=""location-result-count"">{0}</span>", radiuscount), l1.location.LocationType, ((Model.locations.Count > 1 && l1.location.LocationType != "Specialty") ? "s" : ((l1.location.LocationType == "Specialty") ? " locations": "")));
			resulttext = Translate.Text(((radiuslocations.Count() > 1) ? "There are {0} locations near you." : "There is {0} location near you."), string.Format(@"<span class=""location-result-count"">{0}</span>", radiuslocations.Count()));
		}
	}
	
	<div class="location-button-bar">
		<div class="location-button-bar-text">
			<img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/location-icon.svg" width="20" height="20" class="inline-icon" aria-hidden="true" alt="" /> @Html.Raw(resulttext)
		</div>
		<div class="location-button-bar-buttons">
			@{ Html.RenderPartial("ChangeLocation", rc); }
			@{
/*<a class="location-button" href="#" rel="view-all" aria-label="View all">@Translate.Text("View All")</a>*/
			}
		</div>
	</div>
	@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/LocationsFolder/Partials/SchedulingFliter.cshtml", new Tuple<string, List<LocationWithDistanceSearch>, string, bool>(Model.locationtype, Model.locations, rc.DataSource, Model.scheduling_only)); }
	<ul>
		@if(Model.locations.Count > 0)
		{
			foreach(LocationWithDistanceSearch item in radiuslocations)
			{

				/*if(item.location.IsPubliclySearchable == false || item.location.IsActive == false)
				{
					continue;
				}*/


				locurl = "/locations/";

				//string query = "/sitecore/content//Baptistonline/United States/home/locations//*[@Location='{" + item.location.ItemID.Guid.ToString() + "}']";
				/*string query = "/sitecore/content//home/locations//*[@Location='" + item.location.ItemID + "']";
				Database db = Sitecore.Context.Database;
				Item locationpage = db.SelectSingleItem(query);
				if(locationpage == null)
				{
					locurl = "false";
				}
				else
				{
					locurl = Sitecore.Links.LinkManager.GetItemUrl(locationpage);
				}*/
				//string locaddrurl = HttpUtility.UrlEncode( item.location.AddressLine1.Replace(" ", "+") ) + "%2C" + item.location.City.Replace(" ", "+") + "%2C" + item.location.State + "+" + item.location.PostalCode;
				string locaddrurl = HttpUtility.UrlEncode(item.location.AddressLine1.Replace("'", "") + "," + item.location.City + "," + item.location.State + " " + item.location.PostalCode.Substring(0,5));
				string mapurl = "https://www.google.com/maps/place/" + locaddrurl;

				if(item.location.EnableAlternateLink)
				{
					locurl = item.location.AlternateLocationListingPage;
				}
				else
				{
					locurl = mapurl;
				}

				string schedulingattr = "";
				if(item.location.SchedulingCode.HasValue())
				{
					schedulingattr = "data-scheduling-available";
				}

				<li class="row" data-clientid="@item.location.ClientID" data-mapid="location-listing-mapid-@rc.UniqueId" @schedulingattr>
					<input type="hidden" name="location-name" value="@locaddrurl" />
					<input type="hidden" name="location-lat" value="@item.location.Latitude" />
					<input type="hidden" name="location-lng" value="@item.location.Longitude" />
					<div class="col-xs-2 col-sm-1 location-distance">@String.Format("{0:0}", Math.Ceiling(double.Parse(item.distance.ToString())))&nbsp;MI</div>
					<div class="col-xs-10 col-sm-6">
						<p class="location-name">
							@if(locurl != "false")
							{
							<a href="@locurl" target="_blank" data-clientid="@item.location.ClientID" aria-label="@Translate.Text("View {0} details", item.location.LocationName)">@item.location.LocationName</a>
							}
							else
							{
							@item.location.LocationName
							}
						</p>
						<p class="location-address">
							@item.location.AddressLine1<br />
							@if(!string.IsNullOrEmpty(item.location.AddressLine2))
							{
							@item.location.AddressLine2<br />
							}
							@item.location.City, @item.location.State @item.location.PostalCode.Substring(0,5)
						</p>
					</div>
					<div class="col-xs-10 col-sm-5 col-xs-offset-2 col-sm-offset-0 location-info-right">
						@if(item.location.MainPhoneNumber.HasValue())
						{
						<a href="tel:@item.location.MainPhoneNumber" class="location-phone" aria-label="@Translate.Text("Dial {0} main phone number", item.location.LocationName)">(@item.location.MainPhoneNumber.Substring(0, 3)) @item.location.MainPhoneNumber.Substring(3, 3)&ndash;@item.location.MainPhoneNumber.Substring(6, 4)</a>
						}
						<a target="_blank" href="@mapurl" class="location-directions-link" aria-label="@Translate.Text("Get directions to {0}", @item.location.LocationName)">@Translate.Text("Get directions")</a>
						@if(!string.IsNullOrEmpty(item.er_wait.CV_ED_Wait) && Model.hospitallistings)
						{
						<span class="location-wait-time"><img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/clock-icon.svg" width="15" height="15" class="inline-icon icon-small" aria-hidden="true" alt="" />@(Translate.Text("ER Wait Time")): <span class="location-wait-time-value">@item.er_wait.CV_ED_Wait @Translate.Text("min")</span></span>
						}
						@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/LocationsFolder/Partials/SchedulingListItemButton.cshtml", new Tuple<string, LocationWithDistanceSearch>(Model.locationtype, item)); }						
					</div>
				</li>
			}
		}
		else
		{
		<li class="row">
			0 Locations found in your area
		</li>
		}
	</ul>
</div>

<div data-map-rendering-id="@rc.DataSource" class="col-sm-12 col-md-5 hidden-sm hidden-xs">
	<div class="location-map-container">
		<!--div id="location-listing-mapid-@rc.UniqueId" style="width: 100%; height: 325px;"></!--div-->
		<img id="location-listing-mapid-@rc.UniqueId" src="https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=609x325&markers=color:red%7C6019%2bWalnut%2bGrove%2bRoad%2CMemphis%2CTN+38120&key=AIzaSyDEnRKFd3wvn2deWnClojgqd2fcePl-Ujk" frameborder="0" style="width: 100%; height: 325px; cursor: pointer;" />		
	</div>
	<a target="_blank" data-loc-id="@rc.UniqueId" href="https://www.google.com/maps/place/-88.1363649/&#64;42.091542,-88.1363649,17z" class="location-button location-map-expand" aria-label="@Translate.Text("Expand Map")">@Translate.Text("Expand")<img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/expand-icon.svg" width="20" height="20" class="inline-icon" aria-hidden="true" alt="" /></a>
</div>

@Html.Script(
	@<script>

		var locsrc = '/Content/javascript/locations-listing/location-listing.js'
		var gmapssrc = 'https://maps.googleapis.com/maps/api/js?key=AIzaSyDEnRKFd3wvn2deWnClojgqd2fcePl-Ujk';
		var chloc = "/Content/javascript/locations-listing/change-location-button.js";
		var hoverIntent = '/Content/javascript/locations-listing/hover-intent.js';

		if (scriptdeclared(gmapssrc) == false) {
			//addscript(gmapssrc, true, true);
			/*addscript(hoverIntent, true, true);
			if (scriptdeclared(locsrc) == false) {
				setTimeout(function () {
					addscript(locsrc, true, true)
				}, 600);
			}
			if (scriptdeclared(chloc) == false) {
				setTimeout(function () {
					addscript(chloc, true, true)
				}, 600);
			}*/
		}



		function scriptdeclared(fsrc) {
			var list = document.getElementsByTagName('script');
			var i = list.length, flag = false;
			while (i--) {
				if (list[i].src === fsrc) {
					flag = true;
					break;
				}
			}
			return flag;
		}

		function addscript(scriptsrc, async, defer) {

			var script = document.createElement("script");
			script.type = 'text/javascript';
			script.src = scriptsrc;
			if (async) {
				script.async = 'async';
			}
			if (defer) {
				script.defer = 'defer';
			}
			document.body.appendChild(script);
		}
	</script>
)