﻿@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models

@model List<LocationSearchResultItem>


<h2>getLocationsFromPointSolr</h2>

@foreach(var lsri in Model)
{

	<div>@lsri.LocationName</div>

}