﻿@using Sitecore.XA.Foundation.Mvc
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Configuration
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Repositories
@using Sitecore.Globalization
@using Sitecore.Baptist.Foundation.Common.Utils
@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationListingResSearch

@{
	var rc = Model.renderingcontext.Rendering;
	//var parms = rc.Parameters;
	//int radius = int.Parse(parms["Search radius"]);
	//int radius = 5;
	int radius = Model.locationlisting.radius;
	//int radiuscount = Model.locationlisting.locations.Where(x => x.distance <= radius).Count();

	/*List<LocationWithDistanceSearch> radiuslocations = new List<LocationWithDistanceSearch>();

	foreach(var item in Model.locationlisting.locations)
	{

		if(item.distance > radius)
		{
			break;
		}
		else
		{
			radiuslocations.Add(item);
		}
	}

	int radiuscount = radiuslocations.Count();*/

	int radiuscount = Model.locationlisting.locations.Count;

}
<div data-rendering-id="@rc.DataSource" data-location-radius="@radius" data-location-type="@Model.locationtype" class="location-list col-sm-12 col-md-7">

	<div class="location-button-bar">
		<div class="location-button-bar-text">
			<img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/location-icon.svg" width="20" height="20" class="inline-icon" aria-hidden="true" alt="" /> @Html.Raw(Translate.Text(((Model.locationlisting.locations.Count() > 1 || Model.locationlisting.locations.Count() < 1) ? "There are {0} locations near {1}." : "There is {0} location near {1}."), string.Format(@"<span class=""location-result-count"">{0}</span>", Model.locationlisting.locations.Count()), Model.originalquery))
		</div>
		<div class="location-button-bar-buttons">
			@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/LocationsFolder/ChangeLocation.cshtml", rc); }
			@{	/*<a class="location-button" href="#" rel="view-all" data-listing-type="query-listing" aria-label="View all">@Translate.Text("View All")</a> */ }
		</div>
	</div>
	@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/LocationsFolder/Partials/SchedulingFliter.cshtml", new Tuple<string, List<LocationWithDistanceSearch>, string, bool>(Model.locationtype, Model.locationlisting.locations, rc.DataSource, Model.locationlisting.scheduling_only)); }
	<ul>
		@if(Model.locationlisting.locations.Count > 0)
		{
			foreach(LocationWithDistanceSearch item in Model.locationlisting.locations)
			{


				/*if(item.location.IsPubliclySearchable == false || item.location.IsActive == false)
				{
					continue;
				}*/
				/*if(item.distance > radius && Model.viewall == false)
				{
					continue;
				}*/

				string locurl = "/locations/";

				//string query = "/sitecore/content//Baptistonline/United States/home/locations//*[@Location='{" + item.location.ItemID.Guid.ToString() + "}']";
				//string locaddrurl = HttpUtility.UrlEncode( item.location.AddressLine1.Replace(" ", "+") ) + "%2C" + item.location.City.Replace(" ", "+") + "%2C" + item.location.State + "+" + item.location.PostalCode;
				string locaddrurl = HttpUtility.UrlEncode(item.location.AddressLine1.Replace("'", "") + "," + item.location.City + "," + item.location.State + " " + item.location.PostalCode.Substring(0, 5));
				string mapurl = "https://www.google.com/maps/place/" + locaddrurl;

				if(item.location.EnableAlternateLink)
				{
					locurl = item.location.AlternateLocationListingPage;
				}
				else if(item.location.OverrideWithMapsLink || item.location.LocationType == "Clinic")
				{
					//locurl = "https://www.google.com/maps/place/" + item.location.LocationName + "/@" + item.location.Latitude + "," + item.location.Longitude + ",17z";
					locurl = mapurl;
				}
				else
				{
					string query = "fast:/sitecore/content//home/locations//*[@Location='" + item.location.ItemId.ToString() + "']";
					Database db = Sitecore.Context.Database;
					Item locationpage = db.SelectSingleItem(query);
					if(locationpage == null)
					{
						locurl = "false";
					}
					else
					{
						locurl = Sitecore.Links.LinkManager.GetItemUrl(locationpage);

					}
				}
				string schedulingattr = "";
				if(item.location.SchedulingCode.HasValue())
				{
					schedulingattr = "data-scheduling-available";
				}

				<li class="row" data-clientid="@item.location.ClientID" data-mapid="location-listing-mapid-@rc.UniqueId" @schedulingattr>
					<input type="hidden" name="location-name" value="@locaddrurl" />
					<input type="hidden" name="location-lat" value="@item.location.Latitude" />
					<input type="hidden" name="location-lng" value="@item.location.Longitude" />
					<div class="col-xs-2 col-sm-1 location-distance">@String.Format("{0:0}", Math.Ceiling(double.Parse(item.location.Distance.ToString())))&nbsp;MI</div>
					<div class="col-xs-10 col-sm-6">
						<p class="location-name">
							@if(locurl != "false")
							{
							<a href="@locurl" data-clientid="@item.location.ClientID" aria-label="@Translate.Text("View {0} details", item.location.LocationName)">@item.location.LocationName</a>
							}
							else
							{
							@item.location.LocationName
							}
						</p>
						<p class="location-address">
							@item.location.AddressLine1<br />
							@if(!string.IsNullOrEmpty(item.location.AddressLine2))
							{
							@item.location.AddressLine2<br />
							}
							@item.location.City, @item.location.State @item.location.PostalCode.Substring(0, 5)
						</p>
					</div>
					<div class="col-xs-10 col-sm-5 col-xs-offset-2 col-sm-offset-0 location-info-right">
						@if(item.location.MainPhoneNumber.HasValue())
						{
						<a href="tel:@item.location.MainPhoneNumber" class="location-phone" aria-label="@Translate.Text("Dial {0} main phone number", item.location.LocationName)">(@item.location.MainPhoneNumber.Substring(0, 3)) @item.location.MainPhoneNumber.Substring(3, 3)&ndash;@item.location.MainPhoneNumber.Substring(6, 4)</a>
						}
						<a target="_blank" href="@mapurl" class="location-directions-link" aria-label="@Translate.Text("Get directions to {0}", @item.location.LocationName)">@Translate.Text("Get directions")</a>
						@if(!string.IsNullOrEmpty(item.er_wait.CV_ED_Wait) && Model.locationlisting.hospitallistings)
						{
						<span class="location-wait-time"><img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/clock-icon.svg" width="15" height="15" class="inline-icon icon-small" aria-hidden="true" alt="" />@(Translate.Text("ER Wait Time")): <span class="location-wait-time-value">@item.er_wait.CV_ED_Wait @Translate.Text("min")</span></span>
						}
						@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/LocationsFolder/Partials/SchedulingListItemButton.cshtml", new Tuple<string, LocationWithDistanceSearch>(Model.locationtype, item)); }
					</div>
				</li>
								}
							}
							else
							{
							<li class="row">
								0 Locations found in your area. <a href="" title="Reset search results">Reset location results</a>.
							</li>
							}
	</ul>
</div>

<div data-map-rendering-id="@rc.DataSource" class="col-sm-12 col-md-5 hidden-sm hidden-xs">
	<div class="location-map-container">
		<!--div id="location-listing-mapid-@rc.UniqueId" style="width: 100%; height: 325px;"></div-->
		<img id="location-listing-mapid-@rc.UniqueId" src="https://maps.googleapis.com/maps/api/staticmap?zoom=17&size=609x325&markers=color:red%7C6019%2bWalnut%2bGrove%2bRoad%2CMemphis%2CTN+38120&key=AIzaSyDEnRKFd3wvn2deWnClojgqd2fcePl-Ujk" frameborder="0" style="width: 100%; height: 325px; cursor: pointer;" />
	</div>
	<a target="_blank" href="https://www.google.com/maps/place/-88.1363649/&#64;42.091542,-88.1363649,17z" class="location-button location-map-expand" aria-label="@Translate.Text("Expand Map")">@Translate.Text("Expand")<img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/expand-icon.svg" width="20" height="20" class="inline-icon" aria-hidden="true" alt="" /></a>
</div>