﻿@using Sitecore.XA.Foundation.Mvc
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Configuration
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Repositories
@using Sitecore.Globalization
@using Sitecore.Baptist.Foundation.Common.Utils
@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationListing

@{
    var rc = RenderingContext.Current.Rendering;
    var parms = rc.Parameters;
    string rad = parms["Search radius"];
    int radius = int.Parse(rad);

    int radiuscount = Model.locations.Where(x => x.distance <= radius).Count();

    LocationWithDistance l1 = Model.locations.FirstOrDefault();

    int maxItems = 2;
    int currentItem = 0;
}

@if (Model.locations.Count > 0)
{
    <div class="component rich-text col-xs-12">
        <div class="component-content">
            <h4>Locations Near You</h4>
        </div>
    </div>

    <div class="component container col-xs-12 other-locations">
        <div class="component-content">

            @foreach (LocationWithDistance item in Model.locations)
            {
                currentItem++;
                if (currentItem > maxItems)
                {
                    break;
                }

                if (item.location.IsPubliclySearchable == false || item.location.IsActive == false)
                {
                    continue;
                }
                /*if (item.distance > radius)
                {
                    continue;
                }*/

                string locurl = "/locations/";

                //string query = "/sitecore/content//Baptistonline/United States/home/locations//*[@Location='{" + item.location.ItemID.Guid.ToString() + "}']";
                string query = "fast:/sitecore/content//home/locations//*[@Location='" + item.location.ItemID + "']";
                Database db = Sitecore.Context.Database;
                Item locationpage = db.SelectSingleItem(query);
                if (locationpage == null)
                {
                    locurl = "false";
                }
                else
                {
                    locurl = Sitecore.Links.LinkManager.GetItemUrl(locationpage);
                }

                <div class="component rich-text col-xs-12">
                    <div class="component-content">
                        @if (locurl != "false")
                        {
                            <h5><a href="@locurl" data-clientid="@item.location.ClientID" aria-label="@Translate.Text("View {0} details", item.location.LocationName)">@item.location.LocationName</a></h5>
                        }
                        else
                        {
                            <h5>@item.location.LocationName</h5>
                        }
                        <p>
                            @item.location.AddressLine1<br />
                            @if (!string.IsNullOrEmpty(item.location.AddressLine2))
                            {
                                @item.location.AddressLine2<br />
                            }
                            @item.location.City, @item.location.State @item.location.PostalCode<br />
                            <a href="tel:@item.location.MainPhoneNumber" aria-label="@Translate.Text("Dial {0} main phone number", item.location.LocationName)">(@item.location.MainPhoneNumber.Substring(0, 3)) @item.location.MainPhoneNumber.Substring(3, 3)&ndash;@item.location.MainPhoneNumber.Substring(6, 4)</a>
                            <a href="mailto:info.booneville@bmhcc.org">info.booneville@bmhcc.org</a>
                        </p>
                    </div>
                </div>

            }

        </div>
    </div>

    if (Model.locations.Count > maxItems)
    {
        int remainingItems = Model.locations.Count - maxItems;
        string plural = "";
        plural = remainingItems > 1 ? "s" : "";
        <div class="component rich-text col-xs-12 large-button-inverted">
            <div class="component-content">
                <a href="/locations" class="view-more-locations">@Translate.Text("View {0} More Location{1}", remainingItems, plural)</a>
            </div>
        </div>
    }
}

@{
    //Html.RenderPartial("_LDMarkup", Model);
}
