﻿@using Newtonsoft.Json
@using Sitecore.Baptist.Foundation.Common.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Data
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationItemRenderingModel


@{

	Item location = null;

	try
	{

		location = Sitecore.Context.Database.GetItem(ID.Parse(Model.PageItem.Fields["Location"].ToString()));

	}catch (Exception ex) {

		location = Sitecore.Context.Database.GetItem(Model.DataSourceItem.ID);
	}
}
@if((Model.ShowLocationHours == true && Html.Sxa().IsEdit == false) || Html.Sxa().IsEdit == true)
{

	<div class="component rich-text col-xs-12">
		<div class="component-content">
			<h4>@Html.Sxa().Field("Hours Section Title", location, Model.GetRenderingWebEditingParams())</h4>
		</div>
	</div>
	<div class="row component column-splitter col-xs-12 location-details-hours">

		@{ /*
		<div class="col-xs-5">
			@foreach(var value in Model.HoursOfOperation.getCollectionValues())
			{
				try
				{
					LocationHoursResult hoursentry = JsonConvert.DeserializeObject<LocationHoursResult>(value);
					<p>
						<strong>@Html.Raw(hoursentry.days.decodeUrl())</strong><br />
						@Html.Raw(hoursentry.hours.decodeUrl())
					</p>
				}
				catch(Exception ex)
				{

				}
			}
		</div>
		<div class="col-xs-7 location-details-holiday-notes">
			<p>
				<em>@Html.Sxa().Field("Hours Info Message", location, Model.GetRenderingWebEditingParams())</em>
			</p>
		</div>

		*/
		}
		<div class="col-xs-12 location-details-holiday-notes">
			<p>
				@Html.Sxa().Field("Hours Info Message", location, Model.GetRenderingWebEditingParams())
			</p>
		</div>
	</div>
			}