﻿@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Repositories
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Utils
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions

@model Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.LocationItemRenderingModel
<div class="aside">

	@if(Html.Sxa().IsEdit && Model == null && Model.LocationName.HasValue() == false)
	{

	<div class="component plain-html col-xs-12 location-box">
		<div class="component-component">
			<div class="location-box-content">
				<div class="location-box-text">
					<div class="location-box-text-left">
						<h1>Location DataSource Item may not be associated with component</h1>
					</div>
				</div>
			</div>
		</div>
	</div>
	}
	else if(Model != null || Html.Sxa().IsEdit)
	{
		LocationUtils lu = new LocationUtils();

		<div class="component plain-html col-xs-12 location-box">
			<div class="component-content">
				<div class="location-box-content">
					<div class="location-box-text">
						<div class="location-box-text-left">
							@{
								//string addressurl = Model.AddressLine1.Replace(" ", "+") + "%2C" + Model.City.Replace(" ", "+") + "%2C" + Model.State + "+" + Model.PostalCode;
								string addressurl = HttpUtility.UrlEncode(Model.AddressLine1.Replace("'", "") + "," + Model.City + "," + Model.State + " " + Model.PostalCode.Substring(0, 5));
								//string locurl = "https://www.google.com/maps/place/" + Model.LocationName.Replace(" ", "+") + "%2C" + Model.AddressLine1.Replace(" ", "+") + "%2C" + Model.City.Replace(" ", "+") + "%2C" + Model.State + "+" + Model.PostalCode;
								string locurl = "https://www.google.com/maps/place/" + addressurl;
								string iframelocurl = "https://www.google.com/maps/embed/v1/place?q=" + addressurl + "&key=AIzaSyDEnRKFd3wvn2deWnClojgqd2fcePl-Ujk";
							}
							<h3>@Model.LocationName</h3>
							<p>
								@Model.AddressLine1<br />
								@if(!string.IsNullOrEmpty(Model.AddressLine2))
								{
								@Model.AddressLine2<br />
								}
								@Model.City, @Model.State @Model.PostalCode<br>
								<a href="tel:@Model.MainPhoneNumber">(@Model.MainPhoneNumber.Substring(0, 3)) @Model.MainPhoneNumber.Substring(3, 3)&ndash;@Model.MainPhoneNumber.Substring(6, 4)</a><br>
								@if(!string.IsNullOrEmpty(Model.MainEmailAddress))
								{
								<a href="mailto:@(Model.MainEmailAddress)" aria-label="@Translate.Text("Email {0}", Model.LocationName)" title="@Model.MainEmailAddress" class="location-box-email">Email Us</a><br>
								}
								<a href="@Html.Raw(locurl)" target="_blank" class="cta-button-accent hidden-xs" aria-label="@Translate.Text("Directions")">@Translate.Text("Directions")</a>
								@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/Locations/Partials/SchedulingButtonLocationDetails.cshtml", new Tuple<LocationItemRenderingModel, string>( Model, "cta-button-accent hidden-xs")); }

</p>
						</div>
						<div class="location-box-text-right embed-only" data-clientid="@Model.ClientID" data-mapid="location-listing-mapid">
							<input type="hidden" name="location-name" value="@addressurl" />
							<input type="hidden" name="location-lat" value="@Model.Latitude" />
							<input type="hidden" name="location-lng" value="@Model.Longitude" />
							<img src="/-/media/Project/Baptist/Baptist/Baptistonline/United States/Baptistonline/images/map-icon.png" class="location-box-map-icon" alt="">
							<a href="@Html.Raw(locurl)" aria-label="@Translate.Text("Directions")" class="cta-button-accent">@Translate.Text("Directions")</a>
							@{ Html.RenderPartial("~/Areas/Feature_MedicalCenterLocations/Views/Locations/Partials/SchedulingButtonLocationDetails.cshtml", new Tuple<LocationItemRenderingModel, string>( Model, "cta-button-accent hidden-xs")); }
						</div>
					</div>
					<div class="location-box-map" onclick="window.open('@Html.Raw(locurl)'); return false;" aria-label="@Translate.Text("Open in Google Maps")">
						<!--div id="location-listing-mapid" style="width: 100%; height: 100%;"></div-->
						<iframe src="@iframelocurl" style="width: 100%; height: 100%;" frameborder="0" border="0"></iframe>
					</div>
				</div>
			</div>
		</div>
								}
	<div class="row component column-splitter col-xs-12">
		@if(Html.Sxa().IsEdit)
		{
			using(Html.Sxa().BeginEditFrame(Model.DataSourceItem.ID.Guid.ToString(), "Location Hours", true))
			{
				Html.RenderPartial("LocationHours", (LocationItemRenderingModel)Model);
			}
		}
		else
		{
			Html.RenderPartial("LocationHours", (LocationItemRenderingModel)Model);
		}
	</div>

	@{ Html.RenderPartial("_LDMarkup", Model); }

	<!--script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDEnRKFd3wvn2deWnClojgqd2fcePl-Ujk" async></script-->
</div>