﻿@using Sitecore.Mvc
@using Newtonsoft.Json
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Data.Items
@using Sitecore.Data.Fields
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Repositories
@using Newtonsoft.Json.Linq
@using Sitecore.Globalization
@using MoreLinq

@model Sitecore.Baptist.Feature.MedicalCenterLocations.Templates.Custom.ServicesProvidedContentRenderingModel

@{

	Item pgitem = RenderingContext.Current.PageContext.Item;
	LocationItemRepository lir = new LocationItemRepository();

	lir.LocationItem = ((LookupField)pgitem.Fields["Location"]).TargetItem;

	LocationItemRenderingModel lirm = (LocationItemRenderingModel)lir.GetModel();

}
<div class="component container services-provided-content">
@if(Sitecore.Context.PageMode.IsExperienceEditorEditing || Model.ServicesTitle.HasValue() || Model.ContentBefore.HasValue())
{
<div class="row component column-splitter">
	<div class="component rich-text col-xs-12">
		<div class="component-content">
			<div class="field-content">
				<h2>@Html.Sitecore().Field("ServicesTitle", Model.Item)</h2>
				@Html.Sitecore().Field("Content Before", Model.Item)
			</div>
		</div>
	</div>
</div>
}

@{

	List<ServiceTerm> terms = new List<ServiceTerm>();
	JObject services = new JObject();
	if(lirm.ServicesProvidedJson.HasValue() || lirm.CancerTypesJson.HasValue())
	{
		if(Model.ListingType == "Cancer Types Json") {
			services = (JObject)Newtonsoft.Json.JsonConvert.DeserializeObject(lirm.CancerTypesJson);
		}
		else if(Model.ListingType == "Services Provided Json") {
			services = (JObject)Newtonsoft.Json.JsonConvert.DeserializeObject(lirm.ServicesProvidedJson);
		}

		JToken jterm = services["Term"];
		if(jterm != null && ((JArray)services["Term"]).Count > 0)
		{
			terms = JsonConvert.DeserializeObject<List<ServiceTerm>>(JsonConvert.SerializeObject(services["Term"]));
		}
		terms = terms.OrderBy(x => x.TermUrl).DistinctBy(x => x.TermName).OrderBy(x => x.TermName).ToList<ServiceTerm>();
	}

}
@using(Html.EditFrame(RenderingContext.Current.Rendering.Item.Paths.FullPath, "Services Provided Content", null, null, null, null))
{

	if(terms.Count > 0)
	{

		<div class="row component column-splitter">
			<div class="col-xs-6">
				<div class="component rich-text col-xs-12">
					<div class="component-content">

						<ul>
							@for(int i = 0; i <= terms.Count / 2; i++)
							{
								if(terms[i].TermUrl.HasValue())
								{
								<li><a title="@terms[i].TermName" href="@terms[i].TermUrl">@terms[i].TermName</a></li>
								}
								else
								{
								<li>@terms[i].TermName</li>
								}
							}
						</ul>
					</div>
				</div>
			</div>
			<div class="col-xs-6">
				<div class="component rich-text col-xs-12">
					<div class="component-content">
						@{ int midpoint = (int)(Math.Ceiling((double)(terms.Count / 2))) + 1; }
						<ul>
							@for(int i = midpoint; i < terms.Count; i++)
							{
								if(terms[i].TermUrl.HasValue())
								{
								<li><a title="@terms[i].TermName" href="@terms[i].TermUrl">@terms[i].TermName</a></li>
								}
								else
								{
								<li>@terms[i].TermName</li>
								}
							}
						</ul>
					</div>
				</div>

			</div>
		</div>
	}
	else if(Sitecore.Context.PageMode.IsExperienceEditorEditing)
	{
	<div class="row component column-splitter">
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				API Data Unavailable or Empty
			</div>
		</div>
	</div>
	}
	else
	{
	<div class="row component column-splitter">
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				@Translate.Text("Service listing not availble at this time.")
			</div>
		</div>
	</div>
	}

}

@if(Sitecore.Context.PageMode.IsExperienceEditorEditing || Model.ContentAfter.HasValue())
{
	<div class="row component column-splitter">
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<div class="field-content">
					@Html.Sitecore().Field("Content After", Model.Item)
				</div>
			</div>
		</div>
	</div>
}
</div>

<style type="text/css">
	.component.container.services-provided-content {
		padding-left: 0;
	}
</style>