﻿@using System.Web.Mvc.Html
@using System.Web.Mvc
@using Sitecore.Mvc
@using Sitecore.Web
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.XA.Foundation.Grid.Extensions
@using Sitecore.XA.Foundation.Theming.Bundler
@using Sitecore.Baptist.Foundation.Common.Utils
@using System.Web.Optimization

@model Sitecore.Mvc.Presentation.RenderingModel

@{
	AssetLinks assetLinks = AssetLinksGenerator.GenerateLinks(new ThemesProvider());
	string siteName = Sitecore.Context.Site.Name;
	string googleSiteID = "";
	if (siteName == "United States-2") //Baptist online
	{
		googleSiteID = "NTLWDVV";
	} else if (siteName == "United States") //Cancer center
	{
		googleSiteID = "PRQ8VQD";
	} else if (siteName == "United States-1") //Medical group
	{
		googleSiteID = "NCRKM7X";
	}

	try
	{
		Sitecore.Data.Database db = Sitecore.Data.Database.GetDatabase(Sitecore.Context.Database.Name);
		string spath = Sitecore.Context.Site.RootPath + "/Settings";
		Sitecore.Data.Items.Item ssettings = db.GetItem(spath);

		googleSiteID = ssettings["GTM ID"];

	}
	catch(Exception ex)
	{
	}
}

<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="@Model.Item.Language.Name">
<!--<![endif]-->
<head>
	@foreach(string style in assetLinks.Styles)
	{
	@Html.Raw(style)
	}
	
	@Html.Sxa().Placeholder("head")

    <!-- Google Tag Manager -->
    <script>
    (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-@googleSiteID');</script>
    <!-- End Google Tag Manager -->
	
</head>
<body @Html.Sxa().Body().Decorate()>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-@googleSiteID" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
	
	@Html.Sitecore().Placeholder("body-top")
	@Html.Sxa().GridBody()
	@Html.Sitecore().Placeholder("body-bottom")
	@foreach(string script in assetLinks.Scripts)
	{
	@Html.Raw(script)
	}
	<!-- /#wrapper -->
	
	@Scripts.Render("~/Content/js/opticombined")
	@Html.RenderScripts()	
</body>
</html>