﻿@using Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Sitecore.Baptist.Foundation.Common.Extensions
@model List<Sitecore.Baptist.Feature.MedicalCenterLocations.Areas.Feature_MedicalCenterLocations.Models.SpecialtyRenderingModel>

<div class="component container col-xs-12 service-gallery">
	<div class="component-content">
		<div class="component rich-text col-xs-12">
			<div class="component-content">
				<p>Specialties Near You:</p>
			</div>
		</div>

		@foreach(SpecialtyRenderingModel specialty in Model)
		{
			string imgurl = Sitecore.Resources.Media.MediaManager.GetMediaUrl(specialty.Image.MediaItem);

			<div class="component image col-xs-12">
				<div class="component-content">

					<a href="@specialty.ServicePage.GetFriendlyUrl()" target="@specialty.ServicePage.Target" title="@specialty.ServicePage.Title">
						<img src="@imgurl" alt="@specialty.Image.Alt" width="200" height="200" />
						<span class="image-caption">
							@specialty.Title
						</span>
					</a>

				</div>
			</div>
		}
	</div>
</div>