﻿@using Sitecore.Mvc.Presentation
@using Sitecore.Mvc
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model RenderingModel

@{
	string styledec = "";
}

@if(Model.Item.Fields["Background Image"] == null && Sitecore.Context.PageMode.IsExperienceEditorEditing)
{
	<div class="component rich-text col-xs-12 hero">
		<div class="component-content">
			<h1>Component empty</h1>
		</div>
	</div>
}
else if(Sitecore.Context.PageMode.IsExperienceEditorEditing)
{

	using(Html.Sxa().BeginEditFrame(Model.Item.ID.ToString(), "Background Image", true))
	{
		if(((Sitecore.Data.Fields.CheckboxField)Model.Item.Fields["Display Background Image"]).Checked == false)
		{
		<div class="component rich-text col-xs-12 hero">
			<div class="component-content">
				<h1>Component disabled.</h1>
				<p>Enable by checking "Display Background Image"</p>
			</div>
		</div>
		}
		else
		{

			if(((Sitecore.Data.Fields.ImageField)Model.Item.Fields["Background Image"]) != null)
			{
				try
				{
					Sitecore.Data.Fields.ImageField img = ((Sitecore.Data.Fields.ImageField)Model.Item.Fields["Background Image"]);
					styledec = " style=\"background-image: url('" + Sitecore.Resources.Media.MediaManager.GetMediaUrl(img.MediaItem) + "');\"";
				}
				catch(Exception ex)
				{
					styledec = "";
				}
			}
			<div class="component rich-text col-xs-12 hero" @Html.Raw(styledec)>
				<div class="component-content">
					@Html.Sitecore().Field("Hero Content")
				</div>
			</div>
		}
	}
}
else
{
	if(((Sitecore.Data.Fields.ImageField) Model.Item.Fields["Background Image"]) != null && ((Sitecore.Data.Fields.CheckboxField)Model.Item.Fields["Display Background Image"]).Checked == true)
	{
		try
		{
			Sitecore.Data.Fields.ImageField img = ((Sitecore.Data.Fields.ImageField)Model.Item.Fields["Background Image"]);
			styledec = " style=\"background-image: url('" + Sitecore.Resources.Media.MediaManager.GetMediaUrl(img.MediaItem) + "');\"";
		}
		catch(Exception ex)
		{
			styledec = "";
		}

		<div class="component rich-text col-xs-12 hero" @Html.Raw(styledec)>
			<div class="component-content">
				@Html.Sitecore().Field("Hero Content")
			</div>
		</div>
	}
}