﻿@using Sitecore.Data
@using Sitecore.Data.Items
@using Sitecore.Baptist.Feature.MedicalCenterLocations.Templates.Custom
@model List<ClinicalTrialRenderingModel>
@{
	int cnt = 1;
	List<string> anatomicSites = Model.OrderBy(x => x.AnatomicSite).Select(x => x.AnatomicSite).Distinct().ToList<string>();

	List<string> trialTypes = Model.OrderBy(x => x.TrialType).Select(x => x.TrialType).Distinct().ToList<string>();
	List<string> trialPhases = Model.OrderBy(x => x.TrialPhase).Select(x => x.TrialPhase).Distinct().ToList<string>();
}

<div class="form-search">
	<form id="clinical-trials">
		<label for="searchfilter">@Translate.Text("Search by"):</label>
		<input id="searchfilter" type="text" placeholder="Study Name, Number or Anatomic Site" />
	</form>
	<form id="anatomic-site">
		<label for="selanatomicsite">@Translate.Text("Anatomic site"):</label>
		<select name="selanatomicsite" id="selanatomicsite">
			<option value="">Select ...</option>
			@foreach(string mod in anatomicSites)
			{
				if(!@mod.Contains(','))
				{
				<option value="@mod.ToUrlSlug()">@mod</option>
				}
				else
				{

					string[] asoptions = mod.Split(',');
					foreach(string multmod in asoptions)
					{
						string trimmod = multmod.Trim();
						if(!anatomicSites.Contains(trimmod))
						{
						<option value="@trimmod.ToUrlSlug()">@trimmod</option>
						}
					}
				}
			}
		</select>
	</form>
</div>
<div class="form-search">
	@if(trialTypes.Count > 0)
	{
	<form id="trial-types">
		<label for="seltrialtype">@Translate.Text("Trial type"):</label>
		<select name="seltrialtype" id="seltrialtype">
			<option value="">Select ...</option>
			@foreach(string tt in trialTypes)
			{
				if(!@tt.Contains(','))
				{
				<option value="@tt.ToUrlSlug()">@tt</option>
				}
				else
				{
					string[] ttoptions = tt.Split(',');
					foreach(string multtt in ttoptions)
					{
						string trimtt = multtt.Trim();
						if(!trialTypes.Contains(trimtt))
						{
						<option value="@trimtt.ToUrlSlug()">@trimtt</option>
						}
					}

				}
			}
		</select>
	</form>
	}
	@if(trialPhases.Count > 0)
	{
	<form id="trial-phases">
		<label for="seltrialphase">@Translate.Text("Trial phase"):</label>
		<select name="seltrialphase" id="seltrialphase">
			<option value="">Select ...</option>
			@foreach(string tp in trialPhases)
			{
				if(!@tp.Contains(','))
				{
				<option value="@tp.ToUrlSlug()">@tp</option>
				}
				else
				{
					string[] tpoptions = tp.Split(',');
					foreach(string multtp in tpoptions)
					{
						string trimtp = multtp.Trim();
						if(!trialTypes.Contains(trimtp))
						{
						<option value="@trimtp.ToUrlSlug()">@trimtp</option>
						}
					}

				}
			}
		</select>
	</form>
	}
</div>
<div class="clinical-trials-listing container">
	<div class="panel-group" id="accordion">
		<div class="panel panel-default sort-container">

			@foreach(ClinicalTrialRenderingModel ct in Model)
			{
				if(!ct.HideTrialFromListing)
				{
				<div class="panel-heading searchable" data-index="@ct.StudyNumber.ToLower() @ct.AnatomicSite.ToLower() @ct.FormalStudyName.ToLower()" data-ansite-index="@ct.AnatomicSite.ToUrlSlug()" data-trial-type-index="@ct.TrialType.ToUrlSlug()" data-trial-phase-index="@ct.TrialPhase.ToUrlSlug()" data-numeric-index="@cnt">
					<h4 class="panel-title">
						<a data-toggle="collapse" data-parent="#accordion" href="#collapse@(cnt)" class="row" data-index="@ct.StudyNumber.ToLower() @ct.AnatomicSite.ToLower() @ct.FormalStudyName.ToLower()">
							<div class="col-sm-6 col-md-2 study-number">
								<span class="ct-label">@Translate.Text("Study Number")</span>
								@Html.Raw(ct.StudyNumber)
							</div>
							<div class="col-sm-6 col-md-2 atomic-site">
								<span class="ct-label sortable" data-sortby="ansite-index" data-sortdir="init">@Translate.Text("Anatomic Site")&nbsp;<i class="fa fa-sort"></i></span>
								@Html.Raw(ct.AnatomicSite)
							</div>
							<div class="col-sm-12 col-md-7 study-name">
								<span class="ct-label">@Translate.Text("Study Name")</span>
								@Html.Raw(ct.InformalStudyName)
							</div>
						</a>
					</h4>
				</div>
				<div id="collapse@(cnt)" class="panel-collapse collapse searchable" data-index="@ct.StudyNumber.ToLower() @ct.AnatomicSite.ToLower() @ct.FormalStudyName.ToLower()" data-ansite-index="@ct.AnatomicSite.ToUrlSlug()" data-trial-type-index="@ct.TrialType.ToUrlSlug()" data-trial-phase-index="@ct.TrialPhase.ToUrlSlug()" data-numeric-index="@cnt">
					<div class="panel-body">
						@if(ct.AdditionalStatusMessages.HasValue())
						{
						<div class="row status-messages">
							<div class="col-lg-12">
								@ct.AdditionalStatusMessages
							</div>
						</div>
						}
						<div class="row">
							<div class="col-lg-12">
								<strong>@Translate.Text("Formal Study Name"):</strong>&nbsp;&nbsp;@Html.Raw(ct.FormalStudyName)
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<strong>@Translate.Text("Anatomic Site"):</strong><br />@Html.Raw(ct.AnatomicSite)
							</div>
							<div class="col-sm-12 col-md-6">
								<strong>@Translate.Text("Histology"):</strong><br />@Html.Raw(ct.Histology)
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<strong>@Translate.Text("Mutation"):</strong><br />@Html.Raw(ct.Mutation)
							</div>
							<div class="col-sm-12 col-md-6">
								<strong>@Translate.Text("Stage"):</strong><br />@Html.Raw(ct.Stage)
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-12">
								<strong>@Translate.Text("Treatment Phase"):</strong>&nbsp;&nbsp;@Html.Raw(ct.TreatmentPhase)
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-6">
								<strong>@Translate.Text("Trial Phase"):</strong><br />&nbsp;&nbsp;@Html.Raw(ct.TrialPhase)
							</div>
							<div class="col-sm-12 col-md-6">
								<strong>@Translate.Text("Trial Type"):</strong><br />&nbsp;&nbsp;@Html.Raw(ct.TrialType)
							</div>
							<div class="col-sm-12 col-md-6">
								<strong>@Translate.Text("Principal Investigator"):</strong><br />&nbsp;&nbsp;@Html.Raw(ct.PI)
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12">
								<strong>@Translate.Text("Study Link"):</strong>&nbsp;&nbsp;
								<a href="@ct.StudyLink" title="Link to Study" target="_blank">@ct.StudyLink</a>
							</div>
						</div>
						<div class="row">
							<div class="col-sm-12 col-md-3">
								<strong>@Translate.Text("Locations Where Open"):</strong>
							</div>
							<div class="col-sm-12 col-md-9">
								@foreach(Guid locationid in ct.LocationsWhereOpen)
								{
									ID lid = ID.Parse(locationid);

									Item locitem = Sitecore.Context.Database.GetItem(lid);

									string locurl = "/locations/";

									//string query = "/sitecore/content//Baptistonline/United States/home/locations//*[@Location='{" + item.location.ItemID.Guid.ToString() + "}']";
									string query = "/sitecore/content//home/locations//*[@Location='" + lid + "']";
									Database db = Sitecore.Context.Database;
									Item locationpage = db.SelectSingleItem(query);

									string mapurl = "https://www.google.com/maps/place/" + locitem.Fields["Location Name"] + "/@" + locitem.Fields["Latitude"] + "," + locitem.Fields["Longitude"] + ",17z";

									if(locitem.Fields["Alternate Location Listing Page"].ToString().HasValue())
									{
										locurl = locitem.Fields["Alternate Location Listing Page"].ToString();
									}
									else if(locitem.Fields["Override With Maps Link"] != null && locitem.Fields["Override With Maps Link"].Value.AsBool())
									{
										locurl = mapurl;
									}
									else
									{
										if(locationpage == null)
										{
											locurl = "false";
										}
										else
										{
											locurl = Sitecore.Links.LinkManager.GetItemUrl(locationpage);
										}
									}
									<a href="@locurl" title="@locitem.Fields["Location Name"]">@locitem.Fields["Location Name"]</a>
									if(locationid != ct.LocationsWhereOpen.Last())
									{ <br /> }
								}
							</div>
						</div>
					</div>
				</div>
				}
				cnt++;
			}
		</div>
	</div>
</div>

<style id="ct_search_filter" class="search_style" type="text/css"></style>
<style id="an_site_filter" class="filter_style" type="text/css"></style>
<style id="trial_type_search_filter" class="filter_style" type="text/css"></style>
<style id="trial_phase_search_filter" class="filter_style" type="text/css"></style>