﻿@using Sitecore.Mvc
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@model Sitecore.XA.Feature.Media.Models.ImageRenderingModel

<div @Html.Sxa().Component("image", Model.Attributes)>
	<div class="component-content">
		@Model.MessageIsEmpty


		@if (Model.LinkItem != null && Model.LinkItem.TargetItem != null)
		{
		<a href="@Model.LinkItem.TargetUrl" target="@Model.LinkItem.Target">
			@{ Html.RenderPartial("ImageContent", Model); }
			@if (Model.HasImageCaption || (!Model.HasImageCaption && Html.Sxa().IsEdit))
			{
			<span class="image-caption">
				@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
				{
					@Html.Sitecore().Field("ImageCaption", Model.GetRenderingWebEditingParams())
				}
				else
				{
					@Html.Sitecore().Field("ImageCaption")				    
				}
			</span>
			}
		</a>
		}
		else
		{
			Html.RenderPartial("ImageContent", Model);
			if (Model.HasImageCaption || (!Model.HasImageCaption && Html.Sxa().IsEdit))
			{
			<span class="image-caption">
				@if (Sitecore.Context.PageMode.IsExperienceEditorEditing)
				{
				@Html.Sitecore().Field("ImageCaption", Model.GetRenderingWebEditingParams())
				}
				else
				{
				@Html.Sitecore().Field("ImageCaption")
				}
			</span>
			}
		}		
		
	</div>
</div>
