﻿@using Sitecore.Baptist.Foundation.Common.Utils
@using Sitecore.Globalization
@using Sitecore.XA.Foundation.MarkupDecorator.Extensions
@using Sitecore.XA.Foundation.SitecoreExtensions.Extensions
@using Newtonsoft.Json

@model Sitecore.XA.Feature.Composites.Models.TabsRenderingModel

<div class="component search-box-baptist col-xs-12 tab-search" data-properties="">
	<form id="physician-search" class="component-content">
		<label for="tabSearch" class="sr-only">Search for Doctors by Name, Specialty, City, or ZIP Code</label>
		<input id="query1" type="text" class="search-box-input-baptist has-search-icon" autocomplete="off" id="tabSearch" name="tabSearch" placeholder="Name, Specialty, City, or ZIP Code" />
		<button class="search-box-button" type="submit" aria-label="@Translate.Text("Search for doctors")">Search</button>
	</form>
</div>

<div @Html.Sxa().Component("tabs", Model.Attributes)>
	<div class="component-content" id="tabs">
		@if(Model.HasCompositeLoop)
		{
		@Model.MessageHasLoop
		}
		else if(Model.DataSourceItem == null)
		{
		@Model.MessageIsEmpty
		}
		else if(Model.CompositeCount == 0)
		{
			using(Html.Sxa().BeginEditFrame(Model.DataSourceItem.ID.ToString(), "Tabs Empty", Model.IsControlEditable))
			{
			@Model.MessageIsEmpty
			}
		}
		else
		{
		<div class="tabs-inner" data-search-return-target="true">
			@if(!Model.TabsOnBottom)
			{
			<ul class="nav nav-tabs" role="tablist">
				@{ Html.RenderPartial("TabsHeading", Model); }
			</ul>
			<div class="tab-content">
				@{ Html.RenderPartial("TabsContent", Model); }
			</div>
			}
			else
			{
				<div class="tab-content">
					@{ Html.RenderPartial("TabsContent", Model); }
				</div>
				<ul class="nav nav-tabs" role="tablist">
					@{ Html.RenderPartial("TabsHeading", Model); }
				</ul>

								}
		</div>
								}
	</div>
</div>

<div class="css-loader">
	<div id="cssload-allthethings">
		<div id="cssload-circle1"></div>
		<div id="cssload-circle2"></div>
		<div id="cssload-circle3"></div>
		<div id="cssload-circle4"></div>
	</div>
</div>