﻿@using Sitecore.Globalization
@using Sitecore.Baptist.Foundation.Common.Utils
@using System.Web.Optimization

<div class="modal fade" tabindex="-1" role="dialog" id="mychartmodal">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<iframe src="https://mychart.baptistonecare.org/PRD/Authentication/Login/LoginWidget" width="100%" height="auto" allowTransparency="true" target='_parent' scrolling="no" frameborder="0" style="border:none;overflow:hidden;"></iframe>		
		</div>
	</div>
</div>