﻿@using Sitecore.Globalization
@using Sitecore.Baptist.Foundation.Common.Utils
@using System.Web.Optimization


<div id="MyChartPanelInline">
	<a name="mychart-login"></a>
	<h2>@Translate.Text("Login to MyChart")</h2>

	<iframe src="https://mychart.baptistonecare.org/PRD/Authentication/Login/LoginWidget" width="100%" height="auto" allowTransparency="true" target='_parent' scrolling="no" frameborder="0" style="border:none;overflow:hidden;"></iframe>		

</div>
